body{
    /* background-color: #f4f4f6; */
    background: linear-gradient(to left,#fcfaff,#dcdcdc,#dbdbdb);
    font-family: 'Calibri','Thorndale AMT', sans-serif;

}


/******************************************************************************/
/************************* Media Query Section ********************************/
/******************************************************************************/
/* Mac 13" 1280*800*/

@media (min-width:1280px) and (min-height:800px) and (max-height:1023px){
  .copyrights{
    left:5px !important;
  }
}

/* IPad Pro Portrait*/
@media (max-width:1024px) and (orientation:portrait){
  .sidenav {
      height: 100% !important;
      margin-bottom: 30px !important;
      max-width: 100% !important;
  }
  .sidenav a {
    font-size: 32px !important;
      text-align: center;
      padding: 0px 0px 0px 0px !important;
      margin: 20px 0 80px 60px;
      /* border-style: solid !important; */
  }
  .sidenav a:hover {
      color: #f1f1f1 !important;
  }
  div.hiddenMenu a{
    margin-top: -5px !important;
  }
  hr.hiddenMenu{
    margin-bottom: 70px !important;
    margin-left: 80px !important;
    margin-top: 0px !important;
  }
  #main {
    transition: 0.5s;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -200px;
    margin-left: -740px;
  }

  /*  Navigation Bar Styling*/

  #navbar{
    height: 50px !important;
  }
  span.name{
    margin-top: 6px !important;
    margin-left: 12px !important;
    cursor: pointer;
  }
  .name{
    font-size: 24px !important;
    margin-top: 8px !important;
    margin-left: 8px !important;
    margin-bottom: 0px !important;
  }
  /* About Me Contents Styling-Header */
  #Headline{
    top: -250px !important;
    left: 600px !important;
    font-size: 37px !important;
  }

  hr.contents{
    width: 900px !important;
    top: -150px !important;
    left: 300px !important;
  }

  /* Background Styles - First Part */

  img.personalPic{
    top: 70px !important;
    left: 400px !important;
    width: 250px !important;
    height: 250px !important;
    border-radius: 50% !important;
  }

  .firstPartHeadline{
    top: -100px !important;
    left: 760px !important;
    width: 400px !important;
  }

  .IntroBackground{
    font-size: 22px !important;
    top: -15px !important;
    left: 760px !important;
    width: 400px !important;
  }
  .firstPart{
    width: 400px !important;
  }


  /* Motivation Styles - Second Part */

  img.udacity{
    width: 140px !important;
    height: 140px !important;
    top: 730px !important;
    left: 790px !important;
    transform: rotate(-9deg) !important;
  }

  img.freecodecamp{
    width: 90px !important;
    height: 90px !important;
    top: 580px !important;
    left: 930px !important;
    transform: rotate(6deg) !important;
  }

  img.lynda{
    width: 110px !important;
    height: 110px !important;
    top: 760px !important;
    left: 1000px !important;
    transform: rotate(10deg);
  }

  .secondPart{
    width: 400px !important;
  }
  .secondPartHeadline{
    top: 500px !important;
    left: 310px !important;
    width: 400px !important;
  }

  .IntroMotivation{
    font-size: 22px !important;
    top: 585px !important;
    left: 310px !important;
    width: 400px !important;
  }

  /* Additions Styles - Third Part */

  img.baseball{
    width: 140px !important;
    height: 90px !important;
    top: 1130px !important;
    left: 320px !important;
  }

  img.sunset{
    width: 150px !important;
    height: 100px !important;
    top: 1260px !important;
    left: 500px !important;
  }

  img.cloudy{
    width: 160px !important;
    height: 100px !important;
    top: 1130px !important;
    left: 500px !important;
  }

  img.park{
    width: 130px !important;
    height: 90px !important;
    top: 1260px !important;
    left:320px !important;
  }
  .thirdPart{
    width: 400px !important;
  }
  .thirdPartHeadline{
    top: 1000px !important;
    left: 760px !important;
    width: 400px !important;
  }
  .IntroAdditions{
    font-size: 22px !important;
    top: 1100px !important;
    left: 760px !important;
    width: 400px !important;
  }
  /* Footer Styles */
  .footer{
    display: inline;
    position: absolute;
    background: grey;
    opacity: 0.8;
    top: 2090px !important;
    left: 0px;
    bottom: 0;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 200px;
  }
  .logo{
    width: 100%;
    text-align: center;
    height: 80px;
    position: absolute;
    top: 10px;
    opacity: 0.8;
    margin-top: 0px;
    margin-bottom: 40px;

  }
  .footnote{
    text-align: center;
    font-size: 26px !important;
  }
  .logoPic.linkedin{
    background: url('../img/linkedin-logo.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:10px;
    width: 45px;
    height: 44px;
    margin-right: 80px;
  }
  .logoPic.github{
    background: url('../img/github-logo.jpg') center top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left:47px;
    margin-right:47px;
    width: 53px;
    height: 52px;
    border-radius: 50%;
  }
  .logoPic.email{
    background: url('../img/email-logo.png') center;
    border-radius:13px;
    margin-left:80px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 54px;
    height: 44px;
    border-radius: 10px;
  }
  a{
    text-decoration: none;
    display: inline-block;
  }
  .logoPic:hover{
    transform: scale(1.2);
  }
  .copyrights{
    /* border-style: solid; */
    text-align: center;
    position: absolute;
    left: 125px !important;
    bottom: 20px;
    color: rgba(255,255,255,70%);
    width: 75% !important;
  }
}
/* IPad Pro Landscape*/
@media (max-width:1367px) and (orientation:Landscape){
  .sidenav {
      height: 100% !important;
      margin-bottom: 30px !important;
      max-width: 100% !important;
  }
  .sidenav a {
    font-size: 32px !important;
      text-align: center;
      padding: 0px 0px 0px 0px !important;
      margin: 20px 0 80px 60px;
      /* border-style: solid !important; */
  }
  .sidenav a:hover {
      color: #f1f1f1 !important;
  }
  div.hiddenMenu a{
    margin-top: -5px !important;
  }
  hr.hiddenMenu{
    margin-bottom: 70px !important;
    margin-left: 80px !important;
    margin-top: 0px !important;
  }
  #main {
    transition: 0.5s;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -200px;
    margin-left: -740px;
  }

  /*  Navigation Bar Styling*/

  #navbar{
    height: 50px !important;
  }
  span.name{
    margin-top: 6px !important;
    margin-left: 12px !important;
    cursor: pointer;
  }
  .name{
    font-size: 24px !important;
    margin-top: 8px !important;
    margin-left: 8px !important;
    margin-bottom: 0px !important;
  }
  /* About Me Contents Styling-Header */
  #Headline{
    top: -100px !important;
    left: 600px !important;
    font-size: 37px !important;
  }

  hr.contents{
    width: 900px !important;
    top: 0px !important;
    left: 300px !important;
  }

  /* Background Styles - First Part */

  img.personalPic{
    top: 120px !important;
    left: 300px !important;
    width: 250px !important;
    height: 250px !important;
    border-radius: 50% !important;
  }

  .firstPartHeadline{
    top: 50px !important;
    left: 760px !important;
    width: 500px !important;
  }

  .IntroBackground{
    font-size: 22px !important;
    top: 135px !important;
    left: 760px !important;
    width: 500px !important;
  }
  .firstPart{
    width: 400px !important;
  }


  /* Motivation Styles - Second Part */

  img.udacity{
    width: 140px !important;
    height: 140px !important;
    top: 730px !important;
    left: 830px !important;
    transform: rotate(-9deg) !important;
  }

  img.freecodecamp{
    width: 90px !important;
    height: 90px !important;
    top: 580px !important;
    left: 970px !important;
    transform: rotate(6deg) !important;
  }

  img.lynda{
    width: 110px !important;
    height: 110px !important;
    top: 760px !important;
    left: 1040px !important;
    transform: rotate(10deg);
  }

  .secondPart{
    width: 400px !important;
  }
  .secondPartHeadline{
    top: 550px !important;
    left: 210px !important;
    width: 500px !important;
  }
  .IntroMotivation{
    font-size: 22px !important;
    top: 640px !important;
    left: 210px !important;
    width: 500px !important;
  }

  /* Additions Styles - Third Part */

  img.baseball{
    width: 140px !important;
    height: 90px !important;
    top: 1130px !important;
    left: 250px !important;
  }

  img.sunset{
    width: 150px !important;
    height: 100px !important;
    top: 1280px !important;
    left: 450px !important;
  }

  img.cloudy{
    width: 160px !important;
    height: 100px !important;
    top: 1130px !important;
    left: 450px !important;
  }

  img.park{
    width: 130px !important;
    height: 90px !important;
    top: 1280px !important;
    left: 250px !important;
  }
  .thirdPart{
    width: 500px !important;
  }
  .thirdPartHeadline{
    top: 1080px !important;
    left: 760px !important;
    width: 500px !important;
  }
  .IntroAdditions{
    font-size: 22px !important;
    top: 1180px !important;
    left: 760px !important;
    width: 500px !important;
  }
  /* Footer Styles */
  .footer{
    display: inline;
    position: absolute;
    background: grey;
    opacity: 0.8;
    top: 1990px !important;
    left: 0px;
    bottom: 0;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 200px;
  }
  .logo{
    width: 100%;
    text-align: center;
    height: 80px;
    position: absolute;
    top: 10px;
    opacity: 0.8;
    margin-top: 0px;
    margin-bottom: 40px;

  }
  .footnote{
    text-align: center;
    font-size: 26px !important;
  }
  .logoPic.linkedin{
    background: url('../img/linkedin-logo.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:10px;
    width: 45px;
    height: 44px;
    margin-right: 80px;
  }
  .logoPic.github{
    background: url('../img/github-logo.jpg') center top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left:47px;
    margin-right:47px;
    width: 53px;
    height: 52px;
    border-radius: 50%;
  }
  .logoPic.email{
    background: url('../img/email-logo.png') center;
    border-radius:13px;
    margin-left:80px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 54px;
    height: 44px;
    border-radius: 10px;
  }
  a{
    text-decoration: none;
    display: inline-block;
  }
  .logoPic:hover{
    transform: scale(1.2);
  }
  .copyrights{
    /* border-style: solid; */
    text-align: center;
    position: absolute;
    left: 170px !important;
    bottom: 20px;
    color: rgba(255,255,255,70%);
    width: 75% !important;
  }
}

/* IPad Mini */

@media (max-width:768px) and (orientation:portrait){
  .sidenav {
      height: 100% !important;
      margin-bottom: 30px !important;
      max-width: 100% !important;
  }
  .sidenav a {
      text-align: center;
      padding: 0px 0px 0px 60px !important;
      margin-bottom: 60px;
      /* border-style: solid; */
  }
  .sidenav a:hover {
      color: #f1f1f1 !important;
  }
  div.hiddenMenu a{
    margin-top: -5px !important;
  }
  hr.hiddenMenu{
    margin-bottom: 70px !important;
    margin-left: 80px !important;
    margin-top: 0px !important;
  }
  #main {
    transition: 0.5s;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -200px;
    margin-left: -740px;
  }

  /*  Navigation Bar Styling*/

  #navbar{
    height: 50px !important;
  }
  span.name{
    margin-top: 6px !important;
    margin-left: 12px !important;
    cursor: pointer;
  }
  .name{
    font-size: 24px !important;
    margin-top: 8px !important;
    margin-left: 8px !important;
    margin-bottom: 0px !important;
  }
  /* About Me Contents Styling-Header */
  #Headline{
    top: -100px !important;
    left: 600px !important;
    font-size: 37px !important;
  }

  hr.contents{
    width: 700px !important;
    top: 0px !important;
    left: 380px !important;
  }

  /* Background Styles - First Part */

  img.personalPic{
    top: 220px !important;
    left: 450px !important;
    width: 220px !important;
    height: 220px !important;
    border-radius: 50% !important;
  }

  .firstPartHeadline{
    top: 35px !important;
    left: 770px !important;
    width: 300px !important;
  }

  .IntroBackground{
    font-size: 21px !important;
    top: 125px !important;
    left: 770px !important;
    width: 300px !important;
  }
  .firstPart{
    width: 300px !important;
  }


  /* Motivation Styles - Second Part */

  img.udacity{
    width: 140px !important;
    height: 140px !important;
    top: 910px !important;
    left: 760px !important;
    transform: rotate(-9deg) !important;
  }

  img.freecodecamp{
    width: 90px !important;
    height: 90px !important;
    top: 750px !important;
    left: 890px !important;
    transform: rotate(6deg) !important;
  }

  img.lynda{
    width: 110px !important;
    height: 110px !important;
    top: 910px !important;
    left: 960px !important;
    transform: rotate(10deg);
  }

  .secondPart{
    width: 300px !important;
  }
  .secondPartHeadline{
    top: 645px !important;
    left: 410px !important;
    width: 300px !important;
  }

  .IntroMotivation{
    font-size: 21px !important;
    top: 745px !important;
    left: 410px !important;
    width: 300px !important;
  }

  /* Additions Styles - Third Part */

  img.baseball{
    width: 140px !important;
    height: 90px !important;
    top: 1270px !important;
    left: 400px !important;
  }

  img.sunset{
    width: 150px !important;
    height: 100px !important;
    top: 1270px !important;
    left: 570px !important;
  }

  img.cloudy{
    width: 160px !important;
    height: 100px !important;
    top: 1400px !important;
    left: 560px !important;
  }

  img.park{
    width: 130px !important;
    height: 90px !important;
    top: 1390px !important;
    left:400px !important;
  }
  .thirdPart{
    width: 300px !important;
  }
  .thirdPartHeadline{
    top: 1150px !important;
    left: 750px !important;
    width: 300px !important;
  }
  .IntroAdditions{
    font-size: 21px !important;
    top: 1250px !important;
    left: 750px !important;
    width: 300px !important;
  }
  /* Footer Styles */
  .footer{
    display: inline;
    position: absolute;
    background: grey;
    opacity: 0.8;
    top: 2090px !important;
    left: 0px;
    bottom: 0;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 200px;
  }
  .logo{
    width: 100%;
    text-align: center;
    height: 80px;
    position: absolute;
    top: 10px;
    opacity: 0.8;
    margin-top: 0px;
    margin-bottom: 40px;

  }
  .footnote{
    text-align: center;
    font-size: 26px !important;
  }
  .logoPic.linkedin{
    background: url('../img/linkedin-logo.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:10px;
    width: 45px;
    height: 44px;
    margin-right: 80px;
  }
  .logoPic.github{
    background: url('../img/github-logo.jpg') center top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left:47px;
    margin-right:47px;
    width: 53px;
    height: 52px;
    border-radius: 50%;
  }
  .logoPic.email{
    background: url('../img/email-logo.png') center;
    border-radius:13px;
    margin-left:80px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 54px;
    height: 44px;
    border-radius: 10px;
  }
  a{
    text-decoration: none;
    display: inline-block;
  }
  .logoPic:hover{
    transform: scale(1.2);
  }
  .copyrights{
    /* border-style: solid; */
    text-align: center;
    position: absolute;
    left: 95px !important;
    bottom: 20px;
    color: rgba(255,255,255,70%);
    width: 75% !important;
  }
}

@media (max-width: 1025px) and (orientation:Landscape) {
  /* Background Styles - First Part */

  img.personalPic{
    top: 150px !important;
    left: 350px !important;
    width: 250px !important;
    height: 250px !important;
    border-radius: 50% !important;
  }

  .firstPartHeadline{
    top: 50px !important;
    left: 760px !important;
    width: 420px !important;
  }

  .IntroBackground{
    font-size: 22px !important;
    top: 135px !important;
    left: 760px !important;
    width: 420px !important;
  }
  .firstPart{
    width: 420px !important;
  }


  /* Motivation Styles - Second Part */

  img.udacity{
    width: 140px !important;
    height: 140px !important;
    top: 770px !important;
    left: 830px !important;
    transform: rotate(-9deg) !important;
  }

  img.freecodecamp{
    width: 90px !important;
    height: 90px !important;
    top: 620px !important;
    left: 970px !important;
    transform: rotate(6deg) !important;
  }

  img.lynda{
    width: 110px !important;
    height: 110px !important;
    top: 800px !important;
    left: 1040px !important;
    transform: rotate(10deg);
  }

  .secondPart{
    width: 420px !important;
  }
  .secondPartHeadline{
    top: 550px !important;
    left: 270px !important;
    width: 420px !important;
  }
  .IntroMotivation{
    font-size: 22px !important;
    top: 640px !important;
    left: 270px !important;
    width: 420px !important;
  }

  /* Additions Styles - Third Part */

  img.baseball{
    width: 140px !important;
    height: 90px !important;
    top: 1130px !important;
    left: 300px !important;
  }

  img.sunset{
    width: 150px !important;
    height: 100px !important;
    top: 1260px !important;
    left: 470px !important;
  }

  img.cloudy{
    width: 160px !important;
    height: 100px !important;
    top: 1130px !important;
    left: 470px !important;
  }

  img.park{
    width: 130px !important;
    height: 90px !important;
    top: 1250px !important;
    left: 300px !important;
  }
  .thirdPart{
    width: 420px !important;
  }
  .thirdPartHeadline{
    top: 1080px !important;
    left: 760px !important;
    width: 420px !important;
  }
  .IntroAdditions{
    font-size: 22px !important;
    top: 1180px !important;
    left: 760px !important;
    width: 420px !important;
  }
  .copyrights{
    /* border-style: solid; */
    text-align: center;
    position: absolute;
    left: 125px !important;
    bottom: 20px;
    color: rgba(255,255,255,70%);
    width: 75% !important;
  }
}


/* SmartPhone Version Portrait*/

@media only screen and (max-width:480px) and (orientation: portrait) {
    .sidenav {
        height: 100% !important;
        margin-bottom: 30px !important;
        max-width: 100% !important;
    }
    .sidenav a {
        text-align: center;
        padding: 0px 0px 0px 0px !important;
        margin-bottom: 60px;
        margin-left: 45px;
        /* border-style: solid; */
    }
    hr.hiddenMenu{
      margin-bottom: 53px !important;
      margin-right: 50px !important;
      margin-top: 0px !important;
      display: none;
      /* height: 10px!important; */
    }
    .sidenav a:hover {
        color: #f1f1f1 !important;
    }
    div.hiddenMenu a{
      margin-top: -5px !important;
    }
    hr.hiddenMenu{
      margin-bottom: 53px !important;
      margin-left: 40px !important;
      margin-top: 0px !important;
    }

    /*  Navigation Bar Styling*/

    #navbar{
      height: 50px !important;
    }
    span.name{
      margin-top: 7px !important;
      margin-left: 12px !important;
      cursor: pointer;
    }
    .name{
      font-size: 21px !important;
      margin-top: 9px !important;
      margin-left: 8px !important;
      margin-bottom: 0px !important;
      /* border-style: solid; */
  }
    /* About Me Contents Styling-Header */

    #Headline{
      visibility: hidden !important;
      top: 65px !important;
      left: 600px !important;
      font-size: 40px !important;
    }

    hr.contents{
      visibility: hidden !important;
      width: 200px !important;
      left: 542px !important;
    }

    /* Background Styles - First Part */

    img.personalPic{
      top: 200px !important;
      left: 650px !important;
      width: 180px !important;
      height: 185px !important;
      border-radius: 50% !important;
    }

    .firstPartHeadline{
      top: 420px !important;
      left: 585px !important;
      width: 300px !important;
    }

    .IntroBackground{
      font-size: 17px !important;
      top: 520px !important;
      left: 585px !important;
      width: 300px !important;
    }
    .firstPart{
      width: 300px !important;
    }


    /* Motivation Styles - Second Part */

    img.udacity{
      width: 140px !important;
      height: 140px !important;
      top: 1750px !important;
      left: 575px !important;
      transform: rotate(-9deg) !important;
    }

    img.freecodecamp{
      width: 90px !important;
      height: 90px !important;
      top: 1650px !important;
      left: 705px !important;
      transform: rotate(6deg) !important;
    }

    img.lynda{
      width: 110px !important;
      height: 110px !important;
      top: 1790px !important;
      left: 765px !important;
      transform: rotate(10deg);
    }

    .secondPart{
      width: 300px !important;
    }
    .secondPartHeadline{
      top: 1070px !important;
      left: 585px !important;
      width: 300px !important;
    }

    .IntroMotivation{
      font-size: 15px !important;
      top: 1190px !important;
      left: 585px !important;
      width: 300px !important;
    }

    /* Additions Styles - Third Part */

    img.baseball{
      width: 140px !important;
      height: 90px !important;
      top: 2410px !important;
      left: 595px !important;
    }
    img.sunset{
      width: 150px !important;
      height: 100px !important;
      top: 2410px !important;
      left: 755px !important;
    }
    img.cloudy{
      width: 160px !important;
      height: 100px !important;
      top: 2525px !important;
      left: 745px !important;
    }
    img.park{
      width: 130px !important;
      height: 90px !important;
      top: 2520px !important;
      left: 595px !important;
    }
    .thirdPart{
      width: 320px !important;
    }
    .thirdPartHeadline{
      top: 1950px !important;
      left: 585px !important;
      width: 320px !important;
    }
    .IntroAdditions{
      font-size: 15px !important;
      top: 2070px !important;
      left: 585px !important;
      width: 320px !important;
    }

    /* Footer Styles */
    .footer{
      display: inline;
      position: absolute;
      background: grey;
      opacity: 0.8;
      top: 2780px !important;
      left: 0px;
      bottom: 0;
      width: 100% !important;
      padding-top: 70px;
      padding-bottom: 200px;
    }
    .logo{
      width: 100%;
      height: 80px;
      position: absolute;
      top: 10px;
      opacity: 0.8;
      margin-top: 0px;
      margin-bottom: 40px;
      /* border-style: solid; */
    }
    .footnote{
      text-align: 50%;
      padding-right: 0px !important;
      font-size: 26px !important;
      /* border-style: solid; */
    }
    .logoPic.linkedin{
      background: url('../img/linkedin-logo.jpg') center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius:10px;
      width: 25px;
      height: 24px;
      margin-right: 0px !important;
      margin-left: 0px !important;

    }
    .logoPic.github{
      background: url('../img/github-logo.jpg') center top;
      background-size: cover;
      background-repeat: no-repeat;
      margin-left:40px !important;
      margin-right:40px !important;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .logoPic.email{
      background: url('../img/email-logo.png') center;
      border-radius:13px;
      margin-left:0px !important;
      background-size: cover;
      background-repeat: no-repeat;
      width: 34px;
      height: 24px;
      border-radius: 10px;
    }
    .copyrights{
      width: 75% !important;
      margin-left: -45px !important;
      font-size: 8px !important;
    }
}
@media only screen and (max-width:852px) and (orientation: Landscape) {
    .sidenav {
        height: 100% !important;
        margin-bottom: 30px !important;
        max-width: 100% !important;
    }
    .sidenav a {
        text-align: center;
        padding: 0px 0px 0px 60px !important;
        margin-bottom: 60px;
        /* border-style: solid; */
    }
    .sidenav a:hover {
        color: #f1f1f1 !important;
    }
    div.hiddenMenu a{
      margin-top: -5px !important;
    }
    hr.hiddenMenu{
      margin-bottom: 53px !important;
      margin-left: 70px !important;
      margin-top: 0px !important;
    }

    /*  Navigation Bar Styling*/

    #navbar{
      height: 50px !important;
    }
    span.name{
      margin-top: 8px !important;
      margin-left: 12px !important;
      cursor: pointer;
    }
    .name{
      font-size: 22px !important;
      margin-top: 10px !important;
      margin-left: 8px !important;
      margin-bottom: 0px !important;
  }
    /* About Me Contents Styling-Header */

    #Headline{
      visibility: hidden !important;
      top: 100px !important;
      left: 600px !important;
      font-size: 40px !important;
    }

    hr.contents{
      visibility: hidden !important;
      width: 400px !important;
      left: 542px !important;
    }

    /* Background Styles - First Part */

    img.personalPic{
      top: 265px !important;
      left: 650px !important;
      width: 180px !important;
      height: 185px !important;
      border-radius: 50% !important;
    }

    .firstPartHeadline{
      top: 470px !important;
      left: 585px !important;
      width: 320px !important;
    }

    .IntroBackground{
      font-size: 19px !important;
      top: 560px !important;
      left: 585px !important;
      width: 320px !important;
    }
    .firstPart{
      width: 320px !important;
    }


    /* Motivation Styles - Second Part */

    img.udacity{
      width: 140px !important;
      height: 140px !important;
      top: 1800px !important;
      left: 575px !important;
      transform: rotate(-9deg) !important;
    }

    img.freecodecamp{
      width: 90px !important;
      height: 90px !important;
      top: 1700px !important;
      left: 705px !important;
      transform: rotate(6deg) !important;
    }

    img.lynda{
      width: 110px !important;
      height: 110px !important;
      top: 1840px !important;
      left: 765px !important;
      transform: rotate(10deg);
    }

    .secondPart{
      width: 320px !important;
    }
    .secondPartHeadline{
      top: 1130px !important;
      left: 585px !important;
      width: 320px !important;
    }

    .IntroMotivation{
      font-size: 19px !important;
      top: 1225px !important;
      left: 585px !important;
      width: 320px !important;
    }

    /* Additions Styles - Third Part */

    img.baseball{
      width: 140px !important;
      height: 90px !important;
      top: 2460px !important;
      left: 595px !important;
    }

    img.sunset{
      width: 150px !important;
      height: 100px !important;
      top: 2460px !important;
      left: 755px !important;
    }

    img.cloudy{
      width: 160px !important;
      height: 100px !important;
      top: 2575px !important;
      left: 745px !important;
    }

    img.park{
      width: 130px !important;
      height: 90px !important;
      top: 2570px !important;
      left: 595px !important;
    }
    .thirdPart{
      width: 320px !important;
    }
    .thirdPartHeadline{
      top: 2000px !important;
      left: 585px !important;
      width: 320px !important;
    }
    .IntroAdditions{
      font-size: 19px !important;
      top: 2100px !important;
      left: 585px !important;
      width: 320px !important;
    }
    /* Footer Styles */
    a{
      /* border-style: solid; */

    }
    .footer{
      display: inline;
      position: absolute;
      background: grey;
      opacity: 0.8;
      top: 2780px !important;
      left: 0px;
      bottom: 0;
      width: 100% !important;
      padding-top: 70px;
      padding-bottom: 200px;
    }
    .logo{
      width: 100%;
      height: 80px;
      position: absolute;
      top: 10px;
      opacity: 0.8;
      margin-top: 0px;
      margin-bottom: 40px;
      /* border-style: solid; */
    }
    .footnote{
      text-align: 50%;
      padding-right: 50px !important;
      font-size: 26px !important;
      /* border-style: solid; */
    }
    .logoPic.linkedin{
      background: url('../img/linkedin-logo.jpg') center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius:10px;
      width: 45px;
      height: 44px;
      margin-left: -20px !important;
    }
    .logoPic.github{
      background: url('../img/github-logo.jpg') center top;
      background-size: cover;
      background-repeat: no-repeat;
      margin-left:47px;
      margin-right:47px;
      width: 53px;
      height: 52px;
      border-radius: 50%;
    }
    .logoPic.email{
      background: url('../img/email-logo.png') center;
      border-radius:13px;
      margin-left:80px;
      background-size: cover;
      background-repeat: no-repeat;
      width: 54px;
      height: 44px;
      border-radius: 10px;
      margin-right: 30px !important;

    }

    .copyrights{
      font-size: 12px !important;
      width: 75% !important;
      margin-left: -50px !important;
    }
}


/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/************************* Media Query Section ********************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/

@media screen and (min-width: 1440px) and (min-height: 600px){
  .sidenav {
      height: 100%  !important;
      width: 0;
      max-width: 90%  !important;
      position: fixed  !important;
      z-index: 1  !important;
      top: 0  !important;
      left: 0  !important;

      background-color: #121813  !important;

      overflow-x: hidden  !important;
      transition: .5s  !important;
      padding-top: 20px  !important;
  }

  .sidenav a {
      text-align: center  !important;
      padding: 8px 0px 30px 0px  !important;
      letter-spacing: 3px  !important;
      text-decoration: none  !important;
      font-size: 22px  !important;
      color: #818181  !important;
      display: block  !important;
      transition: 0.3s  !important;
      margin-bottom: 20px;
      margin-left: 30px;
      margin-top: 0;
      /* border-style: solid  !important; */

      font-family: 'Calibri','Thorndale AMT', sans-serif  !important;
      font-weight: 650  !important;
  }

  .sidenav a:hover {
      color: #f1f1f1  !important;
  }

  .sidenav .closebtn {
      position: absolute  !important;
      top: 0  !important;
      right: 20px  !important;
      font-size: 40px  !important;
  }

  hr.hiddenMenu{
    width: 340px !important;
    border: 0 !important;
    height: 1px !important;
    margin-left: 45px !important;
    margin-bottom: 45px !important;
    margin-top: 0px !important;
  }

  #main {
    transition: 0.5s  !important;
    position: absolute  !important;
    top:50%  !important;
    left:50%  !important;
    margin-top: -330px  !important;
    margin-left: -740px  !important;
  }

  /*  Navigation Bar Styling*/

  #navbar{
    background-color: grey  !important;
    opacity: 0.8  !important;
    padding: 5px  !important;
    width: 100%  !important;
    height: 60px  !important;

    position: fixed  !important;
    top: 0px  !important;
    left: 0px  !important;
    transition: top 0.3s  !important;
    z-index: 1  !important;

  }

  span.name{
    display: inline  !important;
    font-family: 'Calibri','Thorndale AMT', sans-serif  !important;
    font-size: 26px  !important;
    color: #fdf9fa  !important;

    float: left  !important;

    margin-top: 10px  !important;
    margin-left: 28px  !important;
    margin-bottom: 10px  !important;

    cursor: pointer  !important;
  }

  span.name:hover{
    color: lightgrey  !important;
  }

  .name{
    display: inline-block  !important;
    font-size: 25px  !important;
    color: #fdf9fa  !important;
    letter-spacing: 1px  !important;
    font-family: 'Calibri','Thorndale AMT', sans-serif  !important;
    font-weight: 650  !important;

    margin-top: 14px  !important;
    margin-left: 15px  !important;
    margin-bottom: 10px  !important;
  }


  /* About Me Contents Styling-Header */

  #Headline{
    text-align: center  !important;
    letter-spacing: 1px  !important;
    padding-bottom: 0px  !important;
    margin-bottom: 1px  !important;
    width:300px  !important;
    position: absolute  !important;
    top: 60px  !important;
    left: 610px  !important;
    font-size: 35px  !important;
    font-weight: 600  !important;
    /* color: #1e61a0  !important; */
    color: #1e61a0  !important;
    text-shadow: 1px 3px 2px lightgrey  !important;
  }

  hr.contents{
    width: 1000px  !important;
    border: 0  !important;
    height: 2px  !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), grey, rgba(0, 0, 0, 0))  !important;
    /* border-style: solid  !important; */
    position: absolute  !important;
    top: 50%  !important;
    top: 140px  !important;
    left: 50%  !important;
    left: 240px  !important;
  }

  /* Background Styles - First Part */

  img.personalPic{
    position: absolute  !important;
    top: 300px  !important;
    left: 395px  !important;
    opacity: 1  !important;
    width: 220px  !important;
    height: 225px  !important;
    border-radius: 50%  !important;
    /* border-style: solid  !important; */
    /* border-width: 4px  !important; */
    /* border-color: #1e81a0  !important; */
    box-shadow: 5px 5px 6px grey  !important;
  }

  .firstPartHeadline{
    text-align: center  !important;
    position: absolute  !important;
    top: 180px  !important;
    left: 760px  !important;
    padding-top: 10px  !important;

    width: 420px  !important;
    height: 50px  !important;

    border-radius: 10px  !important;

    font-size: 30px  !important;
    letter-spacing: 1px  !important;
    background-color: #ab233a  !important;
    color: white  !important;


  }

  .IntroBackground{
    font-size: 19px  !important;
    font-weight: 300  !important;
    font-family: 'Calibri','Thorndale AMT', sans-serif  !important;


    color: black  !important;

    display: inline-block  !important;
    position: absolute  !important;
    text-align: justify  !important;
    line-height: 32px  !important;
    top: 280px  !important;
    left: 762px  !important;

    width: 420px  !important;
  }

  .firstPart{
    width: 750px  !important;
  }


  /* Motivation Styles - Second Part */

  img.udacity{
    width: 160px  !important;
    height: 160px  !important;
    position: absolute  !important;
    top: 865px  !important;
    left: 820px  !important;
    transform: rotate(-8deg)  !important;
  }

  img.freecodecamp{
    width: 110px  !important;
    height: 110px  !important;
    position: absolute  !important;
    top: 750px  !important;
    left: 980px  !important;
    transform: rotate(8deg)  !important;
  }

  img.lynda{
    width: 130px  !important;
    height: 130px  !important;
    position: absolute  !important;
    top: 915px  !important;
    left: 1030px  !important;
    transform: rotate(10deg)  !important;
  }

  .secondPart{
    width: 800px  !important;
  }
  .secondPartHeadline{
    text-align: center  !important;
    position: absolute  !important;
    top: 680px  !important;
    left: 300px  !important;
    padding-top: 10px  !important;

    width: 420px  !important;
    height: 50px  !important;

    border-radius: 10px  !important;

    font-size: 30px  !important;
    letter-spacing: 1px  !important;
    background-color: #0b70b7  !important;
    color: white  !important;
  }

  .IntroMotivation{
    font-size: 19px  !important;
    font-weight: 300  !important;
    font-family: 'Calibri','Thorndale AMT', sans-serif  !important;


    color: black  !important;

    display: inline-block  !important;
    position: absolute  !important;
    text-align: justify  !important;
    line-height: 32px  !important;
    top: 775px  !important;
    left: 300px  !important;

    width: 420px  !important;
  }

  /* Additions Styles - Third Part */

  img.baseball{
    width: 170px  !important;
    height: 130px  !important;
    position: absolute  !important;
    top: 1160px  !important;
    left: 310px  !important;
  }

  img.sunset{
    width: 170px  !important;
    height: 110px  !important;
    position: absolute  !important;
    top: 1160px  !important;
    left: 505px  !important;

  }

  img.cloudy{
    width: 170px  !important;
    height: 130px  !important;
    position: absolute  !important;
    top: 1290px  !important;
    left: 500px  !important;

  }

  img.park{
    width: 160px  !important;
    height: 110px  !important;
    position: absolute  !important;
    top: 1310px  !important;
    left: 320px  !important;

  }

  img.photwork{
    border-radius: 10px  !important;
    box-shadow: 4px 5px 3px grey  !important;
  }

  .thirdPart{
    width: 800px  !important;
  }

  .thirdPartHeadline{
    text-align: center  !important;
    position: absolute  !important;
    top: 1130px  !important;
    left: 760px  !important;
    padding-top: 10px  !important;

    width: 420px  !important;
    height: 50px  !important;

    border-radius: 10px  !important;

    font-size: 30px  !important;
    letter-spacing: 1px  !important;
    background-color: #106633  !important;
    color: white  !important;
  }

  .IntroAdditions{
    font-size: 19px  !important;
    font-weight: 300  !important;
    font-family: 'Calibri','Thorndale AMT', sans-serif  !important;


    color: black  !important;

    display: inline-block  !important;
    position: absolute  !important;
    text-align: justify  !important;
    line-height: 32px  !important;
    top: 1220px  !important;
    left: 762px  !important;

    width: 420px  !important;

  }
  a.addition{
    color: #3684e9  !important;
  }
  a.addition:hover{
    color: #0d3c79  !important;
  }


  /* Footer Styles */
  .footer{
    display: inline  !important;
    position: absolute  !important;
    background: grey  !important;
    opacity: 0.8  !important;
    top: 1720px  !important;
    left: 0px  !important;
    bottom: 0  !important;
    width: 100%  !important;
    padding-top: 70px  !important;
    padding-bottom: 200px  !important;
  }
  .logo{
    width: 100%  !important;
    text-align: center  !important;
    height: 80px  !important;
    position: absolute  !important;
    top: 10px  !important;
    opacity: 0.8  !important;
    margin-top: 0px  !important;
    margin-bottom: 40px  !important;
    /* border-style: solid  !important; */
  }
  .footnote{
    text-align: center  !important;
    font-size: 30px  !important;
    letter-spacing: 1px  !important;
    color: white  !important;
    padding-bottom: 17px  !important;
    /* border-style: solid; */
    /* left: 10px !important; */
  }
  .logoPic.linkedin{
    background: url('../img/linkedin-logo.jpg') center  !important;
    background-size: cover  !important;
    background-repeat: no-repeat  !important;
    border-radius:10px  !important;
    width: 45px  !important;
    height: 44px  !important;
    margin-right: 80px  !important;
  }
  .logoPic.github{
    background: url('../img/github-logo.jpg') center top  !important;
    background-size: cover  !important;
    background-repeat: no-repeat  !important;
    margin-left:47px  !important;
    margin-right:47px  !important;
    width: 53px  !important;
    height: 52px  !important;
    border-radius: 50%  !important;
  }
  .logoPic.email{
    background: url('../img/email-logo.png') center  !important;
    border-radius:13px  !important;
    margin-left:80px  !important;
    background-size: cover  !important;
    background-repeat: no-repeat  !important;
    width: 54px  !important;
    height: 44px  !important;
    border-radius: 10px  !important;
  }

  a{
    text-decoration: none  !important;
    display: inline-block  !important;
    /* border-style: solid  !important; */
  }
  .logoPic:hover{
    transform: scale(1.2)  !important;
  }
  .copyrights{
    left: -3px !important;
  }

}

.sidenav {
    height: 100%;
    width: 0;
    max-width: 90%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    background-color: #121813;

    overflow-x: hidden;
    transition: .5s;
    padding-top: 20px;
}

.sidenav a {
    text-align: center;
    padding: 8px 0px 50px 20px;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s;
    /* border-style: solid; */

    font-family: 'Calibri','Thorndale AMT', sans-serif;
    font-weight: 650;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 40px;
}

.sidenav div.hiddenMenu{
  margin-top: 70px;
  margin-right: 50px;
}

div.hiddenMenu a{
  margin-top: 50px;
}

hr.hiddenMenu{
  width: 340px;
  border: 0;
  height: 1px;
  margin-bottom: 45px;
  margin-top: 0px;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #f1f1f1, rgba(0, 0, 0, 0));

}
#main {
  transition: 0.5s;
  position: absolute;
  top:50%;
  left:50%;
  margin-top: -330px;
  margin-left: -740px;
}

/*  Navigation Bar Styling*/

#navbar{
  background-color: grey;
  opacity: 0.8;
  padding: 5px;
  width: 100%;
  height: 60px;

  position: fixed;
  top: 0px;
  left: 0px;
  transition: top 0.3s;
  z-index: 1;

}

span.name{
  display: inline;
  font-family: 'Calibri','Thorndale AMT', sans-serif;
  font-size: 26px;
  color: #fdf9fa;

  float: left;

  margin-top: 10px;
  margin-left: 28px;
  margin-bottom: 10px;

  cursor: pointer;
}

span.name:hover{
  color: lightgrey;
}

.name{
  display: inline-block;
  font-size: 25px;
  color: #fdf9fa;
  letter-spacing: 1px;
  font-family: 'Calibri','Thorndale AMT', sans-serif;
  font-weight: 650;

  margin-top: 14px;
  margin-left: 15px;
  margin-bottom: 10px;
}


/* About Me Contents Styling-Header */

#Headline{
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 0px;
  margin-bottom: 1px;
  width:300px;
  position: absolute;
  top: 60px;
  left: 610px;
  font-size: 35px;
  font-weight: 600;
  /* color: #1e61a0; */
  color: #1e61a0;
  text-shadow: 1px 3px 2px lightgrey;
}

hr.contents{
  width: 1000px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), grey, rgba(0, 0, 0, 0));
  /* border-style: solid; */
  position: absolute;
  top: 50%;
  top: 140px;
  left: 50%;
  left: 240px;
}

/* Background Styles - First Part */

img.personalPic{
  position: absolute;
  top: 300px;
  left: 395px;
  opacity: 1;
  width: 220px;
  height: 225px;
  border-radius: 50%;
  /* border-style: solid; */
  /* border-width: 4px; */
  /* border-color: #1e81a0; */
  box-shadow: 5px 5px 6px grey;
}

.firstPartHeadline{
  text-align: center;
  position: absolute;
  top: 180px;
  left: 760px;
  padding-top: 10px;

  width: 420px;
  height: 50px;

  border-radius: 10px;

  font-size: 30px;
  letter-spacing: 1px;
  background-color: #ab233a;
  color: white;


}

.IntroBackground{
  font-size: 19px;
  font-weight: 300;
  font-family: 'Calibri','Thorndale AMT', sans-serif;


  color: black;

  display: inline-block;
  position: absolute;
  text-align: justify;
  line-height: 32px;
  top: 280px;
  left: 762px;

  width: 420px;
}

.firstPart{
  width: 750px;
}


/* Motivation Styles - Second Part */

img.udacity{
  width: 160px;
  height: 160px;
  position: absolute;
  top: 865px;
  left: 820px;
  transform: rotate(-8deg);
}

img.freecodecamp{
  width: 110px;
  height: 110px;
  position: absolute;
  top: 750px;
  left: 980px;
  transform: rotate(8deg);
}

img.lynda{
  width: 130px;
  height: 130px;
  position: absolute;
  top: 915px;
  left: 1030px;
  transform: rotate(10deg);
}

.secondPart{
  width: 800px;
}
.secondPartHeadline{
  text-align: center;
  position: absolute;
  top: 680px;
  left: 300px;
  padding-top: 10px;

  width: 420px;
  height: 50px;

  border-radius: 10px;

  font-size: 30px;
  letter-spacing: 1px;
  background-color: #0b70b7;
  color: white;
}

.IntroMotivation{
  font-size: 19px;
  font-weight: 300;
  font-family: 'Calibri','Thorndale AMT', sans-serif;


  color: black;

  display: inline-block;
  position: absolute;
  text-align: justify;
  line-height: 32px;
  top: 775px;
  left: 300px;

  width: 420px;
}

/* Additions Styles - Third Part */

img.baseball{
  width: 170px;
  height: 130px;
  position: absolute;
  top: 1160px;
  left: 310px;
}

img.sunset{
  width: 170px;
  height: 110px;
  position: absolute;
  top: 1160px;
  left: 505px;

}

img.cloudy{
  width: 170px;
  height: 130px;
  position: absolute;
  top: 1290px;
  left: 500px;

}

img.park{
  width: 160px;
  height: 110px;
  position: absolute;
  top: 1310px;
  left: 320px;

}

img.photwork{
  border-radius: 10px;
  box-shadow: 4px 5px 3px grey;
}

.thirdPart{
  width: 800px;
}

.thirdPartHeadline{
  text-align: center;
  position: absolute;
  top: 1130px;
  left: 760px;
  padding-top: 10px;

  width: 420px;
  height: 50px;

  border-radius: 10px;

  font-size: 30px;
  letter-spacing: 1px;
  background-color: #106633;
  color: white;
}

.IntroAdditions{
  font-size: 19px;
  font-weight: 300;
  font-family: 'Calibri','Thorndale AMT', sans-serif;


  color: black;

  display: inline-block;
  position: absolute;
  text-align: justify;
  line-height: 32px;
  top: 1220px;
  left: 762px;

  width: 420px;

}
a.addition{
  color: #3684e9;
}
a.addition:hover{
  color: #0d3c79;
}


/* Footer Styles */
.footer{
  display: inline;
  position: absolute;
  background: grey;
  opacity: 0.8;
  top: 1720px;
  left: 0px;
  bottom: 0;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 200px;
}
.logo{
  width: 100%;
  text-align: center;
  height: 80px;
  position: absolute;
  top: 10px;
  opacity: 0.8;
  margin-top: 0px;
  margin-bottom: 40px;
  /* border-style: solid; */
}
.footnote{
  text-align: center;
  font-size: 30px;
  letter-spacing: 1px;
  color: white;
  padding-bottom: 17px;
}
.logoPic.linkedin{
  background: url('../img/linkedin-logo.jpg') center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius:10px;
  width: 45px;
  height: 44px;
  margin-right: 80px;
}
.logoPic.github{
  background: url('../img/github-logo.jpg') center top;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left:47px;
  margin-right:47px;
  width: 53px;
  height: 52px;
  border-radius: 50%;
}
.logoPic.email{
  background: url('../img/email-logo.png') center;
  border-radius:13px;
  margin-left:80px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 54px;
  height: 44px;
  border-radius: 10px;
}

a{
  text-decoration: none;
  display: inline-block;
  /* border-style: solid; */
}
.logoPic:hover{
  transform: scale(1.2);
}
.copyrights{
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 185px;
  color: rgba(255,255,255,70%);
  width: 100%;
  /* border-style: solid; */
  display: inline-block !important;
}

/* Desktop 1920px width up! */

@media only screen and (min-width: 1700px) and (min-height:940px){
  #Headline{
    text-align: center !important;
    letter-spacing: 1px !important;
    padding-bottom: 0px !important;
    margin-bottom: 1px !important;
    width:300px !important;
    position: absolute !important;
    top: -30px !important;
    left: 610px !important;

    font-size: 50px !important;
    font-weight: 600 !important;
    /* color: #1e61a0 !important; */
    color: #1e61a0 !important;
    text-shadow: 1px 3px 2px lightgrey !important;
  }

  hr.contents{
    width: 1400px !important;
    border: 0 !important;
    height: 2px !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), grey, rgba(0, 0, 0, 0)) !important;

    position: absolute !important;
    top: 50% !important;
    top: 90px !important;
    left: 50% !important;
    left: 90px !important;
  }

  /* Background Styles - First Part */

  img.personalPic{
    position: absolute !important;
    top: 320px !important ;
    left: 175px !important;
    opacity: 1 !important;
    width: 370px !important;
    height: 365px !important;
    border-radius: 50% !important;
    /* border-style: solid !important; */
    /* border-width: 4px !important; */
    /* border-color: #1e81a0 !important; */
    box-shadow: 5px 5px 6px grey !important;
  }

  .firstPartHeadline{
    text-align: center !important;
    position: absolute!important;
    top: 170px !important ;
    left: 800px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;

    width: 700px !important;
    height: 50px !important;

    border-radius: 10px !important;

    font-size: 40px !important;
    letter-spacing: 1px !important;
    background-color: #ab233a !important;
    color: white !important;


  }

  .IntroBackground{
    font-size: 27px !important;
    font-weight: 300 !important;
    font-family: 'Calibri','Thorndale AMT', sans-serif !important;


    color: black !important;

    display: inline-block !important;
    position: absolute !important;
    text-align: justify !important;
    line-height: 38px !important;
    top: 270px!important ;
    left: 802px!important ;
    width: 700px !important;
    line-height: 60px !important;
  }

  .firstPart{
    width: 750px !important;
  }


  /* Motivation Styles - Second Part */

  img.udacity{
    width: 200px !important ;
    height: 200px !important ;
    position: absolute !important ;
    top: 1130px !important ;
    left: 920px !important;
    transform: rotate(-8deg) !important ;
  }

  img.freecodecamp{
    width: 140px !important;
    height: 140px !important;
    position: absolute !important;
    top: 905px !important;
    left: 1130px !important;
    transform: rotate(8deg) !important;
  }

  img.lynda{
    width: 170px !important;
    height: 170px !important;
    position: absolute !important;
    top: 1150px !important;
    left: 1250px !important;
    transform: rotate(10deg) !important;
  }

  .secondPart{
    width: 800px !important;
  }
  .secondPartHeadline{
    text-align: center !important;
    position: absolute !important;
    top: 800px !important;
    left: 5px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;


    width: 700px !important;
    height: 50px !important;

    border-radius: 10px !important;

    font-size: 40px !important;
    letter-spacing: 1px !important;
    background-color: #0b70b7 !important;
    color: white !important;
  }

  .IntroMotivation{
    font-size: 27px !important;
    font-weight: 300 !important;
    font-family: 'Calibri','Thorndale AMT', sans-serif !important;


    color: black !important;

    display: inline-block !important;
    position: absolute !important;
    text-align: justify !important;
    line-height: 38px !important;
    top: 900px !important;
    left: 5px !important;
    line-height: 60px !important;
    width: 700px !important;
  }

  /* Additions Styles - Third Part */

  img.baseball{
    width: 200px !important;
    height: 150px !important;
    position: absolute !important;
    top: 1500px !important;
    left: 85px !important;
  }

  img.sunset{
    width: 200px !important;
    height: 130px !important;
    position: absolute !important;
    top: 1500px !important;
    left: 350px !important;

  }

  img.cloudy{
    width: 210px !important;
    height: 150px !important;
    position: absolute !important;
    top: 1700px !important;
    left: 350px !important;

  }

  img.park{
    width: 200px !important;
    height: 140px !important;
    position: absolute !important;
    top: 1700px !important;
    left: 85px !important;

  }

  img.photwork{
    border-radius: 10px !important;
    box-shadow: 4px 5px 3px grey !important;
  }

  .thirdPart{
    width: 800px !important;
  }

  .thirdPartHeadline{
    text-align: center !important;
    position: absolute !important;
    top: 1400px !important;
    left: 800px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;

    width:700px !important;
    height: 50px !important;

    border-radius: 10px !important;

    font-size: 40px !important;
    letter-spacing: 1px !important;
    background-color: #106633 !important;
    color: white !important;
  }

  .IntroAdditions{
    font-size: 27px !important;
    font-weight: 300 !important;
    font-family: 'Calibri','Thorndale AMT', sans-serif !important;


    color: black !important;

    display: inline-block !important;
    position: absolute !important;
    text-align: justify !important;
    line-height: 40px !important;
    top: 1510px !important;
    left: 800px !important;
    width: 700px !important;
    line-height: 60px !important;

  }
  a.addition{
    color: #3684e9 !important;
  }
  a.addition:hover{
    color: #0d3c79 !important;
  }


  /* Footer Styles */
  .footer{
    display: inline;
    position: absolute;
    background: grey;
    opacity: 0.8;
    top: 2250px !important;
  }
  .logo{
    width: 100%;
    text-align: center;
    height: 80px;
    position: absolute;
    top: 60px;
    opacity: 0.8;
    margin-top: 0px;
    margin-bottom: 0px !important;
    /* border-style: solid; */
  }
  .footnote{
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    color: white;
    /* border-style: solid; */
    padding-bottom: 17px;
  }
  .copyrights{
    left: 0px !important;
  }
}
