body{
    background-color: #f1f2f6;
    /* background: url("../img/lombok.jpg") no-repeat center center fixed; */
    /* -webkit-background-size: cover; */
    /* -moz-background-size: cover; */
    /* -o-background-size: cover; */
    /* background-size: cover; */
    font-family: 'Calibri','Thorndale AMT', sans-serif;
    /* font-family: 'Comic Sans MS', 'Comic Sans', 'cursive'; */

}


/******************************************************************************/
/************************* Media Query Section ********************************/
/******************************************************************************/

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (max-width: 900px){
  div.footer{width:1500px;}
}
@media screen and (max-width: 850px) {
  #main {
    transition: 0.5s;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -180px;
    margin-left: -350px;
  }
}
@media screen and (min-width: 2600px){
  #main {
    transition: 0.5s;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -700px;
    margin-left: -740px;
  }

  div.footer{
    position: absolute;
    background: grey;
    opacity: 0.8;
    top: 1530px;
    left: 0px;
    height: 100px;
  }
  .footnote{
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    color: white;
    padding-bottom: 17px;
  }
}
@media screen and (min-width: 2000px){

  #main {
    transition: 0.5s;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -500px;
    margin-left: -740px;
  }
}
@media screen and (min-width: 4600px){
  #main {
    transition: 0.5s;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -900px;
    margin-left: -740px;
  }
  .contactCard{
    padding-bottom: 300px;
    padding-left:130px;
    padding-right:130px;
  }
  .additionNotes{
    margin-top: 210px;
    margin-left: 80px;

  }
  div.footer{
    position: absolute;
    background: grey;
    opacity: 0.8;
    top: 2630px;
    left: 0px;
    height: 100px;
  }
  .footnote{
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    color: white;
    padding-bottom: 17px;
  }
}


/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/************************* Media Query Section ********************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    background-color: #121813;

    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.sidenav a {
    text-align: center;
    padding: 8px 8px 50px 25px;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s;

    font-family: 'Calibri','Thorndale AMT', sans-serif;
    font-weight: 650;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 40px;
}

.sidenav div.hiddenMenu{
  margin-top: 70px;
  margin-right: 50px;
}

div.hiddenMenu a{
  margin-top: 50px;
}

hr.hiddenMenu{
  width: 340px;
  border: 0;
  height: 1px;
  margin-bottom: 45px;
  margin-top: 0px;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #f1f1f1, rgba(0, 0, 0, 0));

}
#main {
  transition: 0.5s;
  position: absolute;
  top:50%;
  left:50%;
  margin-top: -330px;
  margin-left: -740px;

}

/*  Navigation Bar Styling*/

#navbar{
  background-color: grey;
  opacity: 0.8;
  padding: 5px;
  width: 100%;
  height: 60px;

  position: fixed;
  top: 0px;
  left: 0px;
  transition: top 0.3s;
  z-index: 1;

}

span.name{
  display: inline;
  font-family: 'Calibri','Thorndale AMT', sans-serif;
  font-size: 26px;
  color: #fdf9fa;

  float: left;

  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 10px;

  cursor: pointer;
}

span.name:hover{
  color: lightgrey;
}

.name{
  display: inline-block;
  font-size: 25px;
  color: #fdf9fa;
  letter-spacing: 2px;
  font-family: 'Calibri','Thorndale AMT', sans-serif;
  font-weight: 650;

  margin-top: 14px;
  margin-left: 15px;
  margin-bottom: 10px;
}

/* Contact Contents Styling-Header */

#Headline{
  text-align: center;
  padding: 15px 0 15px 0;
  margin-top: -25px;
  letter-spacing: 1px;
  /* border-style: solid; */
  /* border-width:2px; */
  /* border-radius: 15px; */
  width: 900px;

  position: absolute;
  top:80px;
  left: 285px;

  font-size: 35px;
  /* background-color: #eff4cc; */
  color: #1e61a0;
  text-shadow: 1px 1px 2px grey;
}

hr.contents{
  width: 1000px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), grey, rgba(0, 0, 0, 0));

  position: absolute;
  top: 50%;
  top: 190px;
  left: 50%;
  left: 240px;
}

/* Contact Main Contents Styles */
h3.title{
  margin-top: 50px;
  font-size: 30px;
  /* font-family: 'Comic Sans MS', 'Comic Sans', 'cursive'; */
  font-weight: 600;
}
.instruction{
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  font-family: 'Calibri','Thorndale AMT', sans-serif;

}

.linkFoot{
  color: #1e61a0;
  font-weight: 800;
}
.linkFoot:hover{
  color: darkblue;
}

.contactPhone{
  font-size: 16px;
  padding-right: 140px;
  font-style: normal;
  float: right;

}

.contactAddress{
  font-size: 16px;
  padding-right: 140px;
  font-style: normal;
  float: right;
}

.contactCard{
  width: 900px;
  height: 1200px;
  border-style: solid;
  border-color: darkgrey;
  border-width: 1px;
  position: absolute;

  left: 50%;
  top:50%;
  top: 160px;
  left: 290px;
  border-radius: 20px;
  text-align: center;
  font-weight: 700;
  color: #1B3544;
  background-color: #e3e9eb;
  box-shadow: 3px 3px 3px #9b8c91;

  /* background-color: #cfc8d5; */
  /* background: url("../img/steps2.png"); */
}

label{
  font-size: 18px;
}
.form.email{
  margin-right: 220px;
  font-weight: 700;
  color: #1B3544;
}
.form.comment{
  margin-right: 200px;
  font-weight: 700;
  color: #1B3544;
}
form{
  /* border-style: solid; */
  padding-right: 300px;
}

.input{
  width: 600px;
  height: 24px;
  border-radius: 5px;
  margin-left: 160px;
  font-weight: 300;
  font-size: 16px;
}

.input.Comment{
  width: 600px;
  height: 480px;
  margin-left: 160px;
  font-size: 14px;
  font-family: "Lucida Grande",Verdana, sans-serif;
}
.input.Mail{
  font-size: 14px;
  height: 28px;
  font-family: "Lucida Grande",Verdana, sans-serif;
}

.submit{
  position: absolute;
  left: 163px;
  background-color: white;
  border-style: solid;
  border-radius: 5px;
  border-color: darkgrey;
  border-width: 1.5px;
  width: 90px;
  height: 40px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  color: #1B3544;
}

.reset{
  position: absolute;
  left: 288px;
  background-color: white;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
  border-color: darkgrey;
  width: 90px;
  height: 40px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 700;
  color: #1B3544;
}

.reset:hover{
  border-color: #fb365a;
}
.submit:hover{
  border-color: #258b3a;
}

.required{
  color: #fa1905;
}

.additionNotes{
  position: absolute;
  top: 985px;
  left: 160px;

}

.additionNotes a{
  color: #03c908;

}

.additionNotes a:hover{
  color: #015403;

}

/* Footer Styles */
#foot{
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
}

.footer{
  display: inline;
  position: absolute;
  background: grey;
  opacity: 0.9;
  top: 1800px;
  left: 0px;
  bottom: 0;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 200px;
}

.logo{
  width: 100%;
  text-align: center;
  height: 80px;
  position: absolute;
  top: 10px;
  opacity: 0.8;
  margin-top: 0px;
  margin-bottom: 40px;

}
.footnote{
  text-align: center;
  font-size: 30px;
  letter-spacing: 1px;
  color: white;
  padding-bottom: 17px;
}
.logoPic.linkedin{
  background: url('../img/linkedin-logo.jpg') center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius:10px;
  width: 45px;
  height: 44px;
  margin-right: 80px;
}
.logoPic.github{
  background: url('../img/github-logo.jpg') center top;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left:47px;
  margin-right:47px;
  width: 53px;
  height: 52px;
  border-radius: 50%;
}
.logoPic.email{
  background: url('../img/email-logo.png') center;
  border-radius:13px;
  margin-left:80px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 54px;
  height: 44px;
  border-radius: 10px;
}

a{
  text-decoration: none;
  display: inline-block;
}

.logoPic:hover{
  transform: scale(1.2);
}

.copyrights{
  text-align: center;
  position: absolute;
  bottom: 10px;
  color: rgba(255,255,255,70%);
  width: 100%;
}
