body{
    max-width: 100%;
    background: url("../img/path.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/******************************************************************************/
/************************* Media Query Section ********************************/
/******************************************************************************/
/* Desktop Version */

@media screen and (max-width:2048px) {
  div.greeting{
    margin-top: 15% !important;
  }
  #navbar{
    height: 6.5% !important;
  }
  .name{
    margin-top: .65% !important;
  }
}

@media screen and (max-width:1600px) {
  div.greeting{
    margin-top: 180px;
    font-size: 1.2em;
    text-align: center;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    /* border-style: solid; */
  }
  h1.greeting{
    margin-top: -20px;
    font-family: 'Helvetica','Arial', sans-serif;
    font-weight: 800;
    font-size: 2em !important;
    /* color: rgba(255,255,255,100%); */
    color: orange;
    text-shadow: 1px 2px 2px #000000;
    text-align: center;
    /* padding-right: 30px; */
    /* padding-top: 250px; */
    /* padding-bottom: 250px; */

  }
  hr{
    width: 400px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,180,30,60%), rgba(0, 0, 0, 0));
    box-shadow: 1.5px 1.5px 2px grey;
  }
  h3.intro{
    font-size: 1.2em !important;
    font-weight: 550;
    color: #fef374;
    /* font-style: italic; */
    font-family: 'Helvetica','Arial', sans-serif;
    text-shadow: 1.2px 1.2px 2px #000000;
  }
  .start{
    display: inline-block;
    width: 6em;
    height: 2em;
    border-radius: 35px;
    text-align: center;
    /* background-color: hsl(350,82%,65%); */
    background-color: #df667a;
    cursor: pointer;
    border: none;

    font-size: 1.1em !important;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Helvetica','Arial', sans-serif;

    text-align: center;
    padding: 16px 8px 2px 8px !important;
    margin-left: -1% !important;
    margin-top: 1em;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }
  #navbar{

    height:8% !important;

    position: fixed;
    top: 0px;
    left: 0px;

  }
  .nav{
    display: inline;
    font-family: 'Helvetica','Arial', sans-serif;
    float: right;
    margin-top: 1.1em !important;
    margin-right: 1.8em;
    margin-bottom: 0em;
    font-weight: bold;
  }
  .name{
    display: inline;
    /* font-family: 'Calibri','Arial', sans-serif; */
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';

    font-size: 1.4em;
    font-weight: 650;
    letter-spacing: 1px;
    color: #fdf9fa;

    float: left;

    margin-top: 0.6em;
    margin-left: 1em;
    margin-bottom: 0.5em;
  }
  .nav a{
    font-size: 19px;
  }

  a {
    text-decoration: none;
    text-align: left;
    margin-right: 8px;
    color: #fdf9fa;
    font-size: 16px;
  }
  li a:hover{
    color: lightgrey;
  }

  .sidenav{
    display: none;
  }
  .control{
    display: none;
  }
}

@media screen and (max-width: 1480px){
  div.greeting{
    margin-top: 20% !important;
    font-size: 1.2em;
    text-align: center;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    /* border-style: solid; */
  }
  h1.greeting{
    margin-top: -20px;
    font-family: 'Helvetica','Arial', sans-serif;
    font-weight: 800;
    font-size: 2em !important;
    /* color: rgba(255,255,255,100%); */
    color: orange;
    text-shadow: 1px 2px 2px #000000;
    text-align: center;
    /* padding-right: 30px; */
    /* padding-top: 250px; */
    /* padding-bottom: 250px; */

  }
  hr{
    width: 400px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,180,30,60%), rgba(0, 0, 0, 0));
    box-shadow: 1.5px 1.5px 2px grey;
  }
  h3.intro{
    font-size: 1.2em !important;
    font-weight: 550;
    color: #fef374;
    /* font-style: italic; */
    font-family: 'Helvetica','Arial', sans-serif;
    text-shadow: 1.2px 1.2px 2px #000000;
  }
  .start{
    display: inline-block;
    width: 6em;
    height: 2em;
    border-radius: 35px;
    text-align: center;
    /* background-color: hsl(350,82%,65%); */
    background-color: #df667a;
    cursor: pointer;
    border: none;

    font-size: 1.1em !important;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Helvetica','Arial', sans-serif;

    text-align: center;
    padding: 16px 8px 2px 8px !important;
    margin-left: -1% !important;
    margin-top: 1em;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }
  #navbar{

    height:6.5% !important;

    position: fixed;
    top: 0px;
    left: 0px;

  }

}


/* IPad Pro Version */
@media screen and (max-width:1024px) and (orientation:portrait){
  body{
      max-width: 100%;
      background: url("../img/path.png") no-repeat 40% 50% fixed !important;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
  }
  div.greeting{
    margin-top: 40% !important;
    font-size: 1.2em;
    text-align: center;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    /* border-style: solid; */
  }
  h1.greeting{
    margin-top: -20px;
    margin-left: 10% !important;
    font-family: 'Helvetica','Arial', sans-serif;
    font-weight: 800;
    font-size: 2.2em !important;
    /* color: rgba(255,255,255,100%); */
    color: orange;
    text-shadow: 1px 2px 2px #000000;
    text-align: center;
    /* padding-right: 30px; */
    /* padding-top: 250px; */
    /* padding-bottom: 250px; */

  }
  hr{
    margin-left: 12% !important;
    width: 600px !important;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,180,30,60%), rgba(0, 0, 0, 0));
    box-shadow: 1.5px 1.5px 2px grey;
  }
  h3.intro{
    font-size: 1.5em !important;
    margin-left: 5% !important;
    font-weight: 550;
    color: #fef374;
    /* font-style: italic; */
    font-family: 'Helvetica','Arial', sans-serif;
    text-shadow: 1.2px 1.2px 2px #000000;

  }
  .start{

    display: inline-block;
    width: 7em;
    height: 2em;
    border-radius: 50px !important;
    text-align: center;
    /* background-color: hsl(350,82%,65%); */
    background-color: #df667a;
    cursor: pointer;
    border: none;

    font-size: 1.5em !important;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Helvetica','Arial', sans-serif;

    text-align: center;
    padding: 18px 8px 0px 8px !important;
    margin-top: 0em !important;
    margin-left: 10% !important;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }

  #navbar{
    height: 3.5% !important;
  }
  .nav{
    display: inline;
    font-family: 'Helvetica','Arial', sans-serif;
    float: right;
    margin-top: 1.2% !important;
    margin-right: 1em !important;
    margin-bottom: 0em;
    font-weight: bold;
  }
  .name{
    display: inline;
    /* font-family: 'Calibri','Arial', sans-serif; */
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';

    font-size: .9em !important;
    font-weight: 650;
    letter-spacing: 1px;
    color: #fdf9fa;

    float: left;

    margin-top: 1% !important;
    margin-left: 1em;
    margin-bottom: 0.5em;
  }
  .nav a{
    font-size: .9em !important;
  }
}
@media screen and (max-width:769px) and (orientation:portrait){
  body{
      max-width: 100%;
      background: url("../img/path.png") no-repeat 44% 50% fixed !important;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
  }
  div.greeting{
    margin-top: 40% !important;
    font-size: 1.2em;
    text-align: center;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    /* border-style: solid; */
  }
  h1.greeting{
    margin-top: -20px;
    margin-left: 10% !important;
    font-family: 'Helvetica','Arial', sans-serif;
    font-weight: 800;
    font-size: 1.7em !important;
    /* color: rgba(255,255,255,100%); */
    color: orange;
    text-shadow: 1px 2px 2px #000000;
    text-align: center;
    /* padding-right: 30px; */
    /* padding-top: 250px; */
    /* padding-bottom: 250px; */

  }
  hr{
    margin-left: 14% !important;
    width: 400px !important;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,180,30,60%), rgba(0, 0, 0, 0));
    box-shadow: 1.5px 1.5px 2px grey;
  }
  h3.intro{
    font-size: 1.2em !important;
    margin-left: 5% !important;
    font-weight: 550;
    color: #fef374;
    /* font-style: italic; */
    font-family: 'Helvetica','Arial', sans-serif;
    text-shadow: 1.2px 1.2px 2px #000000;

  }
  .start{

    display: inline-block;
    width: 7em;
    height: 2em;
    border-radius: 50px !important;
    text-align: center;
    /* background-color: hsl(350,82%,65%); */
    background-color: #df667a;
    cursor: pointer;
    border: none;

    font-size: 1.2em !important;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Helvetica','Arial', sans-serif;

    text-align: center;
    padding: 15px 8px 0px 8px !important;
    margin-top: 0em !important;
    margin-left: 10% !important;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }

  #navbar{
    height: 3.5% !important;
  }
  .nav{
    display: inline;
    font-family: 'Helvetica','Arial', sans-serif;
    float: right;
    margin-top: .8% !important;
    margin-right: 1em !important;
    margin-bottom: 0em;
    font-weight: bold;
  }
  .name{
    display: inline;
    /* font-family: 'Calibri','Arial', sans-serif; */
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';

    font-size: .9em !important;
    font-weight: 650;
    letter-spacing: 1px;
    color: #fdf9fa;

    float: left;

    margin-top: .7% !important;
    margin-left: 1em;
    margin-bottom: 0.5em;
  }
  .nav a{
    font-size: .8em !important;
  }
}

@media screen and (max-width:1367px) and (orientation:Landscape){
  body{
      max-width: 100%;
      background: url("../img/path.png") no-repeat 40% 50% fixed !important;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
  }
  div.greeting{
    margin-top: 20% !important;
    font-size: 1.2em;
    text-align: center;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    /* border-style: solid; */
  }
  h1.greeting{
    margin-top: -20px;
    margin-left: 5% !important;
    font-family: 'Helvetica','Arial', sans-serif;
    font-weight: 800;
    font-size: 3em !important;
    /* color: rgba(255,255,255,100%); */
    color: orange;
    text-shadow: 1px 2px 2px #000000;
    text-align: center;
    /* padding-right: 30px; */
    /* padding-top: 250px; */
    /* padding-bottom: 250px; */

  }
  hr{
    margin-left: 15% !important;
    width: 800px !important;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,180,30,60%), rgba(0, 0, 0, 0));
    box-shadow: 1.5px 1.5px 2px grey;
  }
  h3.intro{
    font-size: 1.8em !important;
    margin-left: 5% !important;
    font-weight: 550;
    color: #fef374;
    /* font-style: italic; */
    font-family: 'Helvetica','Arial', sans-serif;
    text-shadow: 1.2px 1.2px 2px #000000;

  }
  .start{

    display: inline-block;
    width: 7em;
    height: 2em;
    border-radius: 50px !important;
    text-align: center;
    /* background-color: hsl(350,82%,65%); */
    background-color: #df667a;
    cursor: pointer;
    border: none;

    font-size: 1.8em !important;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Helvetica','Arial', sans-serif;

    text-align: center;
    padding: 25px 8px 0px 8px !important;
    margin-top: 0em !important;
    margin-left: 5% !important;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }

  #navbar{
    height: 5.5% !important;
  }
  .nav{
    display: inline;
    font-family: 'Helvetica','Arial', sans-serif;
    float: right;
    margin-top: 1.2% !important;
    margin-right: 1em !important;
    margin-bottom: 0em;
    font-weight: bold;
  }
  .name{
    display: inline;
    /* font-family: 'Calibri','Arial', sans-serif; */
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';

    font-size: .9em !important;
    font-weight: 650;
    letter-spacing: 1px;
    color: #fdf9fa;

    float: left;

    margin-top: 1% !important;
    margin-left: 1em;
    margin-bottom: 0.5em;
  }
  .nav a{
    font-size: .9em !important;
  }
  .name{
    font-size: 1.2em !important;
    margin-top: .8% !important;
  }
}
@media screen and (max-width:1024px) and (orientation:Landscape){
  body{
      max-width: 100%;
      background: url("../img/path.png") no-repeat 40% 50% fixed !important;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
  }
  div.greeting{
    margin-top: 20% !important;
    font-size: 1.2em;
    text-align: center;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    /* border-style: solid; */
  }
  h1.greeting{
    margin-top: -20px;
    margin-left: 5% !important;
    font-family: 'Helvetica','Arial', sans-serif;
    font-weight: 800;
    font-size: 2.3em !important;
    /* color: rgba(255,255,255,100%); */
    color: orange;
    text-shadow: 1px 2px 2px #000000;
    text-align: center;
    /* padding-right: 30px; */
    /* padding-top: 250px; */
    /* padding-bottom: 250px; */

  }
  hr{
    margin-left: 15% !important;
    width: 600px !important;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,180,30,60%), rgba(0, 0, 0, 0));
    box-shadow: 1.5px 1.5px 2px grey;
  }
  h3.intro{
    font-size: 1.4em !important;
    margin-left: 5% !important;
    font-weight: 550;
    color: #fef374;
    /* font-style: italic; */
    font-family: 'Helvetica','Arial', sans-serif;
    text-shadow: 1.2px 1.2px 2px #000000;

  }
  .start{

    display: inline-block;
    width: 7em;
    height: 2em;
    border-radius: 50px !important;
    text-align: center;
    /* background-color: hsl(350,82%,65%); */
    background-color: #df667a;
    cursor: pointer;
    border: none;

    font-size: 1.4em !important;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Helvetica','Arial', sans-serif;

    text-align: center;
    padding: 20px 8px 0px 8px !important;
    margin-top: 0em !important;
    margin-left: 2% !important;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }

  #navbar{
    height: 5.5% !important;
  }
  .nav{
    display: inline;
    font-family: 'Helvetica','Arial', sans-serif;
    float: right;
    margin-top: .9% !important;
    margin-right: 1em !important;
    margin-bottom: 0em;
    font-weight: bold;
  }
  .name{
    display: inline;
    /* font-family: 'Calibri','Arial', sans-serif; */
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';

    font-size: .9em !important;
    font-weight: 650;
    letter-spacing: 1px;
    color: #fdf9fa;

    float: left;

    margin-top: .8% !important;
    margin-left: 1em;
    margin-bottom: 0.5em;
  }
  .nav a{
    font-size: .9em !important;
  }
}


@media screen and (max-width: 1295px) and (min-width: 1270px){
  div.greeting{
    margin-top: 20% !important;
    font-size: 1.2em;
    text-align: center;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    /* border-style: solid; */
  }
  h1.greeting{
    margin-top: -20px;
    font-family: 'Helvetica','Arial', sans-serif;
    font-weight: 800;
    font-size: 2em !important;
    /* color: rgba(255,255,255,100%); */
    color: orange;
    text-shadow: 1px 2px 2px #000000;
    text-align: center;
    /* padding-right: 30px; */
    /* padding-top: 250px; */
    /* padding-bottom: 250px; */

  }
  hr{
    width: 400px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,180,30,60%), rgba(0, 0, 0, 0));
    box-shadow: 1.5px 1.5px 2px grey;
  }
  h3.intro{
    font-size: 1.2em !important;
    font-weight: 550;
    color: #fef374;
    /* font-style: italic; */
    font-family: 'Helvetica','Arial', sans-serif;
    text-shadow: 1.2px 1.2px 2px #000000;
  }
  .start{
    display: inline-block;
    width: 6em;
    height: 2em;
    border-radius: 35px;
    text-align: center;
    /* background-color: hsl(350,82%,65%); */
    background-color: #df667a;
    cursor: pointer;
    border: none;

    font-size: 1.1em !important;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Helvetica','Arial', sans-serif;

    text-align: center;
    padding: 16px 8px 2px 8px !important;
    margin-left: 0% !important;
    margin-top: 1em;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }
  #navbar{

    height:5.5% !important;

    position: fixed;
    top: 0px;
    left: 0px;

  }

}

@media screen and (max-width: 1295px) and (min-width: 1270px) and (max-height: 820px){
  div.greeting{
    margin-top: 20% !important;
    font-size: 1.2em;
    text-align: center;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    /* border-style: solid; */
  }
  h1.greeting{
    margin-top: -20px;
    font-family: 'Helvetica','Arial', sans-serif;
    font-weight: 800;
    font-size: 2em !important;
    /* color: rgba(255,255,255,100%); */
    color: orange;
    text-shadow: 1px 2px 2px #000000;
    text-align: center;
    /* padding-right: 30px; */
    /* padding-top: 250px; */
    /* padding-bottom: 250px; */

  }
  hr{
    width: 400px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,180,30,60%), rgba(0, 0, 0, 0));
    box-shadow: 1.5px 1.5px 2px grey;
  }
  h3.intro{
    font-size: 1.2em !important;
    font-weight: 550;
    color: #fef374;
    /* font-style: italic; */
    font-family: 'Helvetica','Arial', sans-serif;
    text-shadow: 1.2px 1.2px 2px #000000;
  }
  .start{
    display: inline-block;
    width: 6em;
    height: 2em;
    border-radius: 35px;
    text-align: center;
    /* background-color: hsl(350,82%,65%); */
    background-color: #df667a;
    cursor: pointer;
    border: none;

    font-size: 1.1em !important;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Helvetica','Arial', sans-serif;

    text-align: center;
    padding: 16px 8px 2px 8px !important;
    margin-left: 0% !important;
    margin-top: 1em;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }
  #navbar{

    height:6.5% !important;

    position: fixed;
    top: 0px;
    left: 0px;
  }
  .name{
    font-size: 1.2em !important;
    margin-top: .8% !important;
  }
  .nav a{
    font-size: 1em !important;
    margin-right: 1em !important;
  }

}

/* Smart phone Size */
@media only screen and (max-width:490px) and (orientation: portrait) {
    body{
        max-height: 200% !important;
        background: url("../img/steps3.png") no-repeat center top fixed !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
    }

    div.greeting{
      margin-top: 11em !important;
      text-align: center;
      padding-left: 30px;
      padding-right: 0;
      /* padding-bottom: 50px; */
      /* padding-top: 50px; */
      font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
      /* border-style: solid; */

    }
    h1.greeting{
      /* border-style: solid; */
      width: 100%;
      margin-left: 8% !important;
      font-family: 'Helvetica','Arial', sans-serif;
      font-weight: 800;
      font-size: .7em !important;
      /* color: rgba(255,255,255,100%); */
      color: orange;
      text-shadow: 1px 2px 2px #000000;
      /* padding-right: 30px; */
      /* padding-top: 250px; */
      /* padding-bottom: 250px; */

    }
    hr{
      width: 15em !important;
      margin-right: 22% !important;
      border: 0;
      height: 2px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,180,30,60%), rgba(0, 0, 0, 0));
      box-shadow: 1.5px 1.5px 2px grey;
    }
    h3.intro{
      font-size: .3em !important;
      margin-left: 17%;
      font-weight: 550;
      color: #fef374;
      /* font-style: italic; */
      font-family: 'Helvetica','Arial', sans-serif;
      text-shadow: 1.2px 1.2px 2px #000000;

    }

    .start{

      display: inline-block;
      width: 7em !important;
      height: 1em !important;

      font-size: .6em !important;
      padding: 4% 8px 5% 8px !important;
      margin-top: 0 !important;
      margin-left: 15% !important;
    }
    .start:hover{
      background-color: #d42d4a;
      /* background-color: hsl(110, 50%, 40%); */
      /* border-style: solid; */
      /* border-width: 2.5px; */
    }
    .name{
      margin-top: 0 !important;
      font-size: .8em !important;
      margin-top: .6% !important;
      /* border-style: solid; */
    }
    #navbar{
      height: 3.3% !important;
    }
    .nav{
      display: none !important;
    }
    .sidenav {
        display: block !important;
        height: 100%;
        width: 0;
        max-width: 100% !important;
        position: fixed;
        top: 0;
        right: 0;
        /* border-style: solid; */
        background-color: #121813;
        z-index: 2;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 1em;
    }
    .sidenav a {
      text-align: center;
      letter-spacing: 3px;
      text-decoration: none;
      font-size: 0.6em;
      color: #818181;
      display: block;
      transition: 0.3s;
      /* border-style: solid; */
      font-family: 'Calibri','Thorndale AMT', sans-serif;
      font-weight: 650;
      font-size: .8em;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        left: 0.5em;
        font-size: 1.2em;
    }

    .sidenav div.hiddenMenu{
      margin-top: 2em;
      margin-right: 0;
    }

    div.hiddenMenu a{
      margin-top: 10% !important;
      margin-bottom: 3em !important;
      /* border-style: solid; */
      text-align: center;
    }

    hr{
      width: 300px;
      border: 0;
      height: 0.05em;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,180,30,60%), rgba(0, 0, 0, 0));
      box-shadow: none;
    }
    hr.hiddenMenu{
      display: none;
    }
    span.control{
      display: inline;
      font-family: 'Calibri','Thorndale AMT', sans-serif;
      font-size: 1em;
      color: #fdf9fa;

      float: right;

      margin-top: 0.1em;
      margin-right: 0.7em;
      margin-bottom: 0.8em;
      z-index: 1;
      cursor: pointer;
    }
    span.control:hover{
      color: lightgrey;
    }

    .control{
      display: inline-block;
      font-size: 1.2em;
      color: #fdf9fa;
      letter-spacing: 1px;
      font-family: 'Calibri','Thorndale AMT', sans-serif;
      font-weight: 650;
      /* border-style: solid; */

      margin-top: 0% !important;
      margin-left: 15px;
      margin-bottom: 10px;
    }
}
@media only screen and (max-width:360px) and (orientation: portrait) {
    body{
        max-height: 200% !important;
        background: url("../img/steps3.png") no-repeat center top fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    div.greeting{
      margin-top: 11em !important;
      text-align: center;
      padding-left: 30px;
      padding-right: 0;
      /* padding-bottom: 50px; */
      /* padding-top: 50px; */
      font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
      /* border-style: solid; */

    }
    h1.greeting{
      /* border-style: solid; */
      width: 100%;
      margin-left: 5% !important;
      font-family: 'Helvetica','Arial', sans-serif;
      font-weight: 800;
      font-size: .7em !important;
      /* color: rgba(255,255,255,100%); */
      color: orange;
      text-shadow: 1px 2px 2px #000000;
      /* padding-right: 30px; */
      /* padding-top: 250px; */
      /* padding-bottom: 250px; */

    }
    hr{
      width: 15em !important;
      margin-left: 10% !important;
      border: 0;
      height: 2px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,180,30,60%), rgba(0, 0, 0, 0));
      box-shadow: 1.5px 1.5px 2px grey;
    }
    h3.intro{
      font-size: .3em !important;
      margin-left: 8% !important;
      font-weight: 550;
      color: #fef374;
      /* font-style: italic; */
      font-family: 'Helvetica','Arial', sans-serif;
      text-shadow: 1.2px 1.2px 2px #000000;

    }

    .start{

      display: inline-block;
      width: 7em !important;
      height: 1em !important;
      border-width: 1.1px !important;
      font-size: .5em !important;
      padding: 3% 5px 3.8% 5px !important;
      margin-top: 0 !important;
      margin-left: 8% !important;
    }
    .start:hover{
      background-color: #d42d4a;
      /* background-color: hsl(110, 50%, 40%); */
      /* border-style: solid; */
      /* border-width: 2.5px; */
    }
    .name{
      margin-top: 0 !important;
      font-size: .8em !important;
      margin-top: .5% !important;
      /* border-style: solid; */
    }
    #navbar{
      height: 4% !important;
    }
    .nav{
      display: none !important;
    }
    .sidenav {
        display: block !important;
        height: 100%;
        width: 0;
        max-width: 100% !important;
        position: fixed;
        top: 0;
        right: 0;
        /* border-style: solid; */
        background-color: #121813;
        z-index: 2;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 1em;
    }
    .sidenav a {
      text-align: center;
      letter-spacing: 3px;
      text-decoration: none;
      font-size: 0.6em;
      color: #818181;
      display: block;
      transition: 0.3s;
      /* border-style: solid; */
      font-family: 'Calibri','Thorndale AMT', sans-serif;
      font-weight: 650;
      font-size: .8em;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        left: 0.5em;
        font-size: 1.2em;
    }

    .sidenav div.hiddenMenu{
      margin-top: 2em;
      margin-right: 0;
    }

    div.hiddenMenu a{
      margin-top: 10% !important;
      margin-bottom: 3em !important;
      /* border-style: solid; */
      text-align: center;
    }

    hr{
      width: 300px;
      border: 0;
      height: 0.05em;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,180,30,60%), rgba(0, 0, 0, 0));
      box-shadow: none;
    }
    hr.hiddenMenu{
      display: none;
    }
    span.control{
      display: inline;
      font-family: 'Calibri','Thorndale AMT', sans-serif;
      font-size: 1em;
      color: #fdf9fa;

      float: right;

      margin-top: 0.1em;
      margin-right: 0.7em;
      margin-bottom: 0.8em;
      z-index: 1;
      cursor: pointer;
    }
    span.control:hover{
      color: lightgrey;
    }

    .control{
      display: inline-block;
      font-size: 1.2em;
      color: #fdf9fa;
      letter-spacing: 1px;
      font-family: 'Calibri','Thorndale AMT', sans-serif;
      font-weight: 650;
      /* border-style: solid; */

      margin-top: 0px !important;
      margin-left: 15px;
      margin-bottom: 10px;
    }
}

@media only screen and (max-width:850px) and (orientation: Landscape) {
  div.greeting{
    margin-top: 10% !important;
    font-size: 1.2em;
    text-align: center;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    /* border-style: solid; */
  }
  h1.greeting{
    margin-top: -20px;
    margin-left: 10% !important;
    font-family: 'Helvetica','Arial', sans-serif;
    font-weight: 800;
    font-size: 1.6em !important;
    /* color: rgba(255,255,255,100%); */
    color: orange;
    text-shadow: 1px 2px 2px #000000;
    text-align: center;
    /* padding-right: 30px; */
    /* padding-top: 250px; */
    /* padding-bottom: 250px; */

  }
  hr{
    margin-left: 17% !important;
    width: 400px !important;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,180,30,60%), rgba(0, 0, 0, 0));
    box-shadow: 1.5px 1.5px 2px grey;
  }
  h3.intro{
    font-size: 1em !important;
    margin-left: 5% !important;
    font-weight: 550;
    color: #fef374;
    /* font-style: italic; */
    font-family: 'Helvetica','Arial', sans-serif;
    text-shadow: 1.2px 1.2px 2px #000000;

  }

  .start{

    display: inline-block;
    width: 7em;
    height: 2em;
    border-radius: 35px;
    text-align: center;
    /* background-color: hsl(350,82%,65%); */
    background-color: #df667a;
    cursor: pointer;
    border: none;

    font-size: .9em !important;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Helvetica','Arial', sans-serif;

    text-align: center;
    padding: 14px 8px 0px 8px !important;
    margin-top: 0em !important;
    margin-left: 10% !important;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }
  .start:hover{
    background-color: #d42d4a;
    /* background-color: hsl(110, 50%, 40%); */
    /* border-style: solid; */
    /* border-width: 2.5px; */
  }

  #navbar{
    background-color: grey;
    opacity: 0.8;
    padding: 0.35em;
    width: 100%;
    height: 10% !important;

    position: fixed;
    top: 0px;
    left: 0px;

  }
  .nav{
    display: inline;
    font-family: 'Helvetica','Arial', sans-serif;
    float: right;
    margin-top: 1.2% !important;
    margin-right: 1em !important;
    margin-bottom: 0em;
    font-weight: bold;
  }
  .name{
    display: inline;
    /* font-family: 'Calibri','Arial', sans-serif; */
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';

    font-size: .9em !important;
    font-weight: 650;
    letter-spacing: 1px;
    color: #fdf9fa;

    float: left;

    margin-top: 1% !important;
    margin-left: 1em;
    margin-bottom: 0.5em;
  }
  .nav a{
    font-size: .9em !important;
  }
}

@media only screen and (max-width:700px) and (orientation: Landscape) {
  div.greeting{
    margin-top: 12% !important;
    font-size: 1.2em;
    text-align: center;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    /* border-style: solid; */
  }
  h1.greeting{
    margin-top: -20px;
    margin-left: 10% !important;
    font-family: 'Helvetica','Arial', sans-serif;
    font-weight: 800;
    font-size: 1.4em !important;
    /* color: rgba(255,255,255,100%); */
    color: orange;
    text-shadow: 1px 2px 2px #000000;
    text-align: center;
    /* padding-right: 30px; */
    /* padding-top: 250px; */
    /* padding-bottom: 250px; */

  }
  hr{
    margin-left: 8% !important;
    width: 400px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,180,30,60%), rgba(0, 0, 0, 0));
    box-shadow: 1.5px 1.5px 2px grey;
  }
  h3.intro{
    font-size: .9em !important;
    margin-left: 5% !important;
    font-weight: 550;
    color: #fef374;
    /* font-style: italic; */
    font-family: 'Helvetica','Arial', sans-serif;
    text-shadow: 1.2px 1.2px 2px #000000;

  }

  .start{

    display: inline-block;
    width: 7em;
    height: 2em;
    border-radius: 35px;
    text-align: center;
    /* background-color: hsl(350,82%,65%); */
    background-color: #df667a;
    cursor: pointer;
    border: none;

    font-size: .8em !important;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Helvetica','Arial', sans-serif;

    text-align: center;
    padding: 14px 8px 0px 8px !important;
    margin-top: 0em !important;
    margin-left: 10% !important;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }
  .start:hover{
    background-color: #d42d4a;
    /* background-color: hsl(110, 50%, 40%); */
    /* border-style: solid; */
    /* border-width: 2.5px; */
  }

  #navbar{
    background-color: grey;
    opacity: 0.8;
    padding: 0.35em;
    width: 100%;
    height: 10% !important;

    position: fixed;
    top: 0px;
    left: 0px;

  }
  .nav{
    display: inline;
    font-family: 'Helvetica','Arial', sans-serif;
    float: right;
    margin-top: 1.2% !important;
    margin-right: 1em !important;
    margin-bottom: 0em;
    font-weight: bold;
  }
  .name{
    display: inline;
    /* font-family: 'Calibri','Arial', sans-serif; */
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';

    font-size: .9em !important;
    font-weight: 650;
    letter-spacing: 1px;
    color: #fdf9fa;

    float: left;

    margin-top: 1% !important;
    margin-left: 1em;
    margin-bottom: 0.5em;
  }
  .nav a{
    font-size: .9em !important;
  }
}

/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/************************* Media Query Section ********************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/


/* Normal Flow */

div.greeting{
  margin-top: 180px;
  font-size: 1.2em;
  text-align: center;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
  /* border-style: solid; */
}
h1.greeting{
  margin-top: -20px;
  font-family: 'Helvetica','Arial', sans-serif;
  font-weight: 800;
  font-size: 2.8em;
  /* color: rgba(255,255,255,100%); */
  color: orange;
  text-shadow: 1px 2px 2px #000000;
  text-align: center;
  /* padding-right: 30px; */
  /* padding-top: 250px; */
  /* padding-bottom: 250px; */

}
hr{
  width: 400px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,180,30,60%), rgba(0, 0, 0, 0));
  box-shadow: 1.5px 1.5px 2px grey;
}
h3.intro{
  font-size: 1.5em;
  font-weight: 550;
  color: #fef374;
  /* font-style: italic; */
  font-family: 'Helvetica','Arial', sans-serif;
  text-shadow: 1.2px 1.2px 2px #000000;

}

.start{

  display: inline-block;
  width: 7em;
  height: 2em;
  border-radius: 35px;
  text-align: center;
  /* background-color: hsl(350,82%,65%); */
  background-color: #df667a;
  cursor: pointer;
  border: none;

  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'Helvetica','Arial', sans-serif;

  text-align: center;
  padding: 18px 8px 0px 8px;
  margin-top: 1em;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}
.start:hover{
  background-color: #d42d4a;
  /* background-color: hsl(110, 50%, 40%); */
  /* border-style: solid; */
  /* border-width: 2.5px; */
}

#navbar{
  background-color: grey;
  opacity: 0.8;
  padding: 0.35em;
  width: 100%;
  height: 9%;

  position: fixed;
  top: 0px;
  left: 0px;

}
.nav{
  display: inline;
  font-family: 'Helvetica','Arial', sans-serif;
  float: right;
  margin-top: 1.2em;
  margin-right: 1.8em;
  margin-bottom: 0em;
  font-weight: bold;
}
.name{
  display: inline;
  /* font-family: 'Calibri','Arial', sans-serif; */
  font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';

  font-size: 1.4em;
  font-weight: 650;
  letter-spacing: 1px;
  color: #fdf9fa;

  float: left;

  margin-top: 0.6em;
  margin-left: 1em;
  margin-bottom: 0.5em;
}
.nav a{
  font-size: 19px;
}

a {
  text-decoration: none;
  text-align: left;
  margin-right: 8px;
  color: #fdf9fa;
  font-size: 16px;
}
li a:hover{
  color: lightgrey;
}

.sidenav{
  display: none;
}
.control{
  display: none;
}
