body{
    background-color: #f4f4f6;
    /* background-color: #dabeea; */
    font-family: 'Calibri','Thorndale AMT', sans-serif;

}

/******************************************************************************/
/************************* Media Query Section ********************************/
/******************************************************************************/

/* IPad Pro Version */
@media screen and (max-width: 1025px) and (orientation: portrait){
  /* Resume Contents Styling */
  #resumeSection{
    width: 62em !important;
    height: 2100px;
    top: -10em !important;
    left: 15.5em !important;

  }

  .headerImage{
    width: 100%;
    height: 300px;
    background: url("../img/sky.jpg") 50% 28%;
    /* background-color: #fabc0f; */
    background-repeat: no-repeat;
    background-size: cover;
    /* border-style: solid; */
    border-radius: 20px 20px 0 0;
  }
  .resumeHeader{
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: #ffffff;
    display: inline-block;
    padding: 15px 100px 35px 100px;
    margin: 100px 0 0 15px;
    /* float: left; */
    color: #ffffff;
    font-size: 50px;
    /* box-shadow: 0px 0px 15px black; */
  }
  .subHeader{
    position: absolute;
    top:8.7em !important;
    left: 14.6em !important;
  }
  /* Resume Left Part Content Styles */

  /* Left - Profile Section */

  .resumeContent{
    width: 100%;
    height: 1800px;
    background-color: white;
    border-radius: 20px;
    font-family: 'Gill Sans','Gill Sans Light',sans-serif;

  }
  .leftPart{
    position: absolute;
    top:300px;
    width: 25em !important;
    height: 1800px;
    background-color: #4b4b4b;
    background-repeat: no-repeat;
    border-radius: 0 0 0 20px;
  }
  .hrLeft{
    border: 0;
    width: 100px;
    height: 2px;
    background-color: white;
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0)); */
    /* border-style: solid; */
    /* border-width: 5px; */
    margin-right: 250px !important;

  }
  .profilecontent{
    color: white;
    /* font-family: 'Calibri',sans-serif; */
    font-size: 1em !important;
    line-height: 35px;
    width: 80% !important;
    text-align: justify;
    letter-spacing: 1px;
    /* border-style: solid; */
    padding-left: 0 !important;
    padding-top: .5em !important;
    margin-left: 12%;
    margin-bottom: 60px;
  }

  /* Left - Skills Section */
  .computerSkill{
    font-size: 1.4em !important;
  }
  .skillLevel{
    font-size: 1.2em !important;

  }

  .skillsets{
    font-size: .9em !important;
  }
  /* Resume Right Part Content Styles */

  .rightPart{
    position: absolute;
    top:300px;
    left: 25em !important;
    width: 37em !important;
    background-color: lightgrey;
    /* border-style: solid; */
    border-radius: 0 0 20px 0;

  }
  .rightTitle{
    /* font-size: 30px; */
    letter-spacing: 5px;
    /* border-style: solid; */
    padding-left: 50px;
    margin-top: 50px;
    /* display: block; */
    color: #424242;
    text-align: left;
  }
  .rightTitleSub{
    color: #424242;
    text-align: left;
    letter-spacing: 3px;
    font-size: 25px;
  }
  .hrRight{
    /* border: 0; */
    width: 550px !important;
    margin-right: 4% !important;
   }

  /* Project Section Styles */

  .projectName{
    /* border-style: solid; */
    text-align: left;
    font-size: 1.1em !important;
    margin-left: -3% !important;
    padding-left: 0 !important;
  }
  .projectBullets{
    padding-left: 0 !important;
    margin-left: -3% !important;
    font-size: .7em !important;
  }
  .projectTime1{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 22em !important;
  }
  .projectTime2{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 3em !important;
  }
  .projectTime3{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 12em !important;
  }

  /* Experience Section Styles */
  .jobName{
    text-align: left;
    font-size: 1.1em !important;
    margin-left: -3% !important;
    padding-left: 0 !important;
  }
  .jobBullets{
    padding-left: 0 !important;
    margin-left: -3% !important;
    font-size: .7em !important;
  }
  .jobTime1{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 37em !important;
  }
  .jobtitle{
    padding-left: 0 !important;
    margin-left: -3% !important;
  }
  .jobLocation1{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 26.5em !important;
  }
  .jobTime2{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 26.5em !important;
  }
  .jobLocation2{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 26.5em !important;
  }

  /* Education Section Styles */

  .schoolName{
    /* border-style: solid; */
    text-align: left;
    font-size: 1.1em !important;
    margin-left: -3% !important;
    padding-left: 0 !important;
  }
  .schooltitle{
    /* border-style: solid; */
    padding-left: 0 !important;
    margin-left: -3% !important;
  }
  .schoolBullets{
    padding-left: 0 !important;
    margin-left: -3% !important;
    font-size: .7em !important;
  }
  .schoolTime1{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 8em !important;
  }
  .schoolLocation1{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 8em !important;
  }

  .schoolTime2{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 5em !important;
  }
  .schoolLocation2{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 7em !important;
  }

  .schoolTime3{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 10em !important;
  }
  .schoolLocation3{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 0em !important;
  }




  /* Footer Styles */

  .footer{
    top: 155em !important;
  }

}


/* IPad Version */
@media screen and (max-width: 1367px) and (orientation: Landscape){
  /* Resume Contents Styling */
  #resumeSection{
    width: 62em !important;
    height: 2250px !important;

    left: 15.5em !important;

  }

  .headerImage{
    width: 100%;
    height: 300px;
    background: url("../img/sky.jpg") 50% 28%;
    /* background-color: #fabc0f; */
    background-repeat: no-repeat;
    background-size: cover;
    /* border-style: solid; */
    border-radius: 20px 20px 0 0;
  }
  .resumeHeader{
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: #ffffff;
    display: inline-block;
    padding: 15px 100px 35px 100px;
    margin: 100px 0 0 15px;
    /* float: left; */
    color: #ffffff;
    font-size: 50px;
    /* box-shadow: 0px 0px 15px black; */
  }
  .subHeader{
    position: absolute;
    top:8.7em !important;
    left: 14.6em !important;
  }
  /* Resume Left Part Content Styles */

  /* Left - Profile Section */

  .resumeContent{
    width: 100%;
    height: 1950px;
    background-color: white;
    border-radius: 20px;
    font-family: 'Gill Sans','Gill Sans Light',sans-serif;

  }
  .leftPart{
    position: absolute;
    top:300px;
    width: 25em !important;
    height: 1950px !important;
    background-color: #4b4b4b;
    background-repeat: no-repeat;
    border-radius: 0 0 0 20px;
  }
  .hrLeft{
    border: 0;
    width: 100px;
    height: 2px;
    background-color: white;
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0)); */
    /* border-style: solid; */
    /* border-width: 5px; */
    margin-right: 250px !important;

  }
  .profilecontent{
    color: white;
    /* font-family: 'Calibri',sans-serif; */
    font-size: 1em !important;
    line-height: 35px;
    width: 80% !important;
    text-align: justify;
    letter-spacing: 1px;
    /* border-style: solid; */
    padding-left: 0 !important;
    padding-top: .5em !important;
    margin-left: 12%;
    margin-bottom: 60px;
  }

  /* Left - Skills Section */
  .computerSkill{
    font-size: 1.4em !important;
  }
  .skillLevel{
    font-size: 1.2em !important;

  }

  .skillsets{
    font-size: .9em !important;
  }
  /* Resume Right Part Content Styles */

  .rightPart{
    position: absolute;
    top:300px;
    left: 25em !important;
    width: 37em !important;
    height: 1950px !important;
    background-color: lightgrey;
    /* border-style: solid; */
    border-radius: 0 0 20px 0;

  }
  .rightTitle{
    /* font-size: 30px; */
    letter-spacing: 5px;
    /* border-style: solid; */
    padding-left: 50px;
    margin-top: 50px;
    /* display: block; */
    color: #424242;
    text-align: left;
  }
  .rightTitleSub{
    color: #424242;
    text-align: left;
    letter-spacing: 3px;
    font-size: 25px;
  }
  .hrRight{
    /* border: 0; */
    width: 550px !important;
    margin-right: 4% !important;
   }

  /* Project Section Styles */

  .projectName{
    /* border-style: solid; */
    text-align: left;
    font-size: 1.1em !important;
    margin-left: -3% !important;
    padding-left: 0 !important;
  }
  .projectBullets{
    padding-left: 0 !important;
    margin-left: -3% !important;
    font-size: .7em !important;
  }
  .projectTime1{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 22em !important;
  }
  .projectTime2{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 3em !important;
  }
  .projectTime3{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 12em !important;
  }

  /* Experience Section Styles */
  .jobName{
    text-align: left;
    font-size: 1.1em !important;
    margin-left: -3% !important;
    padding-left: 0 !important;
  }
  .jobBullets{
    padding-left: 0 !important;
    margin-left: -3% !important;
    font-size: .7em !important;
  }
  .jobTime1{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 37em !important;
  }
  .jobtitle{
    padding-left: 0 !important;
    margin-left: -3% !important;
  }
  .jobLocation1{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 26.5em !important;
  }
  .jobTime2{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 26.5em !important;
  }
  .jobLocation2{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 26.5em !important;
  }

  /* Education Section Styles */

  .schoolName{
    /* border-style: solid; */
    text-align: left;
    font-size: 1.1em !important;
    margin-left: -3% !important;
    padding-left: 0 !important;
  }
  .schooltitle{
    /* border-style: solid; */
    padding-left: 0 !important;
    margin-left: -3% !important;
  }
  .schoolBullets{
    padding-left: 0 !important;
    margin-left: -3% !important;
    font-size: .7em !important;
  }
  .schoolTime1{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 8em !important;
  }
  .schoolLocation1{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 8em !important;
  }

  .schoolTime2{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 5em !important;
  }
  .schoolLocation2{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 7em !important;
  }

  .schoolTime3{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 10em !important;
  }
  .schoolLocation3{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 0em !important;
  }




  /* Footer Styles */

  .footer{
    top: 170em !important;
  }

}

@media screen and (max-width:769px) and (orientation:portrait){
  /* Resume Contents Styling */
  #resumeSection{
    width: 39em !important;
    height: 245em !important;
    /* border-style: solid; */

    left: 50%;
    top:50%;
    top: 0em !important;
    left: 26.7em !important;
  }

  .headerImage{
    width: 100%;
    height: 15em !important;
    background: url("../img/sky.jpg") 50% 28%;
  }
  .resumeHeader{
    padding: .6em 1.8em .8em 1.8em !important;
    margin: 2em 0 0 0 !important;
    font-size: 2.5em !important;
  }
  .subHeader{
    top:8.5em !important;
    left: 7.8em !important;
    /* border-style: solid;*/
    font-size: 1.2em !important;
  }
  /* Resume Left Part Content Styles */

  /* Left - Profile Section */

  .resumeContent{
    width: 100%;
    height: 230em !important;
  }
  .leftPart{

    top:15em !important;
    width: 100% !important;
    height: 120em !important;
    border-radius: 0 0 0 0 !important;

  }
  .leftTitle{
    /* border-style: solid; */
    padding-left: 0 !important;
    text-align: center !important;
    font-size: 1.6em !important;

  }
  .hrLeft{
    border: 0;
    width: 35em !important;
    height: 2px;
    background-color: white;
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0)); */
    /* border-style: solid; */
    /* border-width: 5px; */
    margin-right: 5% !important;

  }
  .profilecontent{
    color: white;
    /* font-family: 'Calibri',sans-serif; */
    font-size: 1em !important;
    line-height: 35px;
    width: 80% !important;
    text-align: justify;
    letter-spacing: 1px;
    /* border-style: solid; */
    margin-left: 3.5% !important;
    padding: 1em 2em 0 2em !important;
    display: block !important;
  }

  /* Left - Skills Section */

  .skillsLayout{
    /* border-style: solid; */
    border-color: white;
    padding: 10px 0px 10px 0;
    margin-bottom: 60px;
  }
  .computerSkill{
    border-style: solid;
    font-size: 1.6em !important;
    margin-top: 0%;
    padding:2% 0% 2% 0%;
    letter-spacing: .3em;
  }
  .skillLevel{
    /* border-style: solid; */
    color: white;
    text-align: left;
    padding-left: 10% !important;
    font-size: 1.4em !important;
    font-weight: 600;
    letter-spacing: .3em;
  }

  .skillsets{
    /* border-style: solid; */
    margin-left: 10% !important;
    margin-top: 0;
    width: 80%;
    list-style-position: inside;
    list-style-type: circle;
    color: #fdfefa;
    text-align: left;
    line-height: 1.7em;
    letter-spacing: .2em;
    font-size: 1.1em !important;
    font-weight: 400;
  }
  .skillBullets{
    /* border-style: solid; */
    line-height: 2.5em !important;
    text-align: left !important;
    margin-left: 10% !important;
    font-size: .8em !important;
  }

  /* Left - Contact Section */
  .contactLayout{
    /* border-style: solid; */
    color: white;
    list-style-type: circle;
    list-style-position: inside;
    font-size: 16px;
    line-height: 40px;
    font-family: 'Calibri',serif,sans-serif;
    letter-spacing: 2px;
    text-align: left;
  }

  .phone{
    /* border-style: solid; */
    margin-left: 0px;
    /* text-align: left; */
  }
  .email{
    /* border-style: solid; */
    margin-left: 0px;
    /* text-align: left; */
  }
  .linkedin{
    /* border-style: solid; */
    margin-left: 0px;
    color: white;
    /* text-align: left; */
  }
  .linkedin:hover{
    color: grey;
  }

  /* Resume Right Part Content Styles */

  .rightPart{
    position: absolute;
    top:135em !important;
    left: 0 !important;
    width: 100% !important;
    height: 110em !important;
    background-color: lightgrey;
    /* border-style: solid; */
    border-radius: 0 0 20px 20px !important;

  }
  .rightTitle{
    /* border-style: solid; */
    padding-left: 0 !important;
    text-align: center !important;
    font-size: 1.6em !important;
  }
  .rightTitleSub{
    color: #424242;
    text-align: left;
    letter-spacing: 3px;
    font-size: .9em !important;
  }
  .hrRight{
    width: 35em !important;
    margin-right: 5% !important;
   }

  /* Project Section Styles */

  .projectName{
    /* border-style: solid; */
    text-align: left;
    padding-left: 20px;
    margin-left: -1% !important;
    margin-bottom: 10px;
    font-size: 1em !important;
    letter-spacing: 2px;
    color: #424242;
  }
  .projectBullets{
    list-style-position: inside;
    padding-left: 2em !important;
    margin-left: -4.5% !important;
    text-align: left;
    /* border-style: solid; */
    font-weight: 500;
    font-size: .7em !important;
    line-height: 30px;
  }
  .projectTime1{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 23em !important;
  }
  .projectTime2{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 6em !important;
  }
  .projectTime3{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 14em !important;
  }

  /* Experience Section Styles */
  .jobName{
    /* border-style: solid; */
    text-align: left;
    padding-left: 20px;
    margin-left: -1% !important;
    margin-bottom: 10px;
    font-size: 1em !important;
    letter-spacing: 2px;
    color: #424242;
  }
  .jobBullets{
    list-style-position: inside;
    padding-left: 2em !important;
    margin-left: -4.5% !important;
    text-align: left;
    /* border-style: solid; */
    font-weight: 500;
    font-size: .7em !important;
    line-height: 30px;
  }
  .jobTime1{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 37em !important;
  }
  .jobtitle{
    font-size: .9em !important;
    margin: 0 0 15px 0;
    padding-left: 1em !important;
  }
  .jobLocation1{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 26.5em !important;
  }

  .jobTime2{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 27em !important;
  }
  .jobLocation2{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 26em !important;
  }

  /* Education Section Styles */

  .schoolName{
    /* border-style: solid; */
    font-size: 1em !important;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: #424242;
  }
  .schooltitle{
    font-size: .8em !important;
    /* font-style: italic; */
    font-weight: bold;
    letter-spacing: 2px;
    /* border-style: solid; */
    text-align: left;

    margin: 0 0 15px 0;
    padding-left: 10px;
    color: #424242;
  }
  .schoolBullets{
    list-style-position: inside;
    padding-left: 20px;
    text-align: left;
    /* border-style: solid; */
    font-weight: 500;
    font-size: 13px;
    line-height: 30px;
    padding-left: 2em !important;
    margin-left: -6.5% !important;
    font-size: .7em !important;
  }
  .schoolTime1{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 10em !important;
  }
  .schoolLocation1{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 12.5em !important;
  }

  .schoolTime2{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 7em !important;
  }
  .schoolLocation2{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 10.5em !important;
  }

  .schoolTime3{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 12em !important;
  }
  .schoolLocation3{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 6em !important;
  }

  /* Footer Styles */
  .footer{
    top: 270em !important;
  }
}


/* Smartphone size 300*600 */
@media screen and (max-width:501px) and (orientation: portrait){

  /* Hidden Menu styles */
  .sidenav{
    max-width: 100%;
  }
  .sidenav a {
    /* border-style: solid; */
    padding: 0 !important;
    margin: 0 0 25% 15% !important;

  }
  hr.hiddenMenu{
    display: none;
  }

  /* Resume Contents Styling */
  #resumeSection{
    width: 21em !important;
    height: 300em !important;
    /* border-style: solid; */
    position: absolute;
    left: 50%;
    top:50%;
    top: 18em !important;
    left: 35.8em !important;
  }

  .headerImage{
    width: 100%;
    height: 12em !important;
    background: url("../img/sky.jpg") 50% 28%;
  }
  .resumeHeader{
    border-style: solid;
    padding: .5em 1em .8em 1em!important;
    margin: 2em 0 0 0 !important;
    font-size: 1.8em !important;
    /* box-shadow: 0px 0px 15px black; */
  }
  .subHeader{
    position: absolute;
    top: 10.7em !important;
    left: 7.6em !important;
    /* border-style: solid; */
    font-size: .7em !important;
    padding: 1em 0.5em 1em 0.5em !important;
  }
  /* Resume Left Part Content Styles */

  /* Left - Profile Section */

  .resumeContent{
    width: 100%;
    height: 288em !important;
  }
  .leftPart{
    position: absolute;
    border-radius: 0 !important;
    top: 12em !important;
    width: 21em !important;
    height: 115em !important;
    background-color: #4b4b4b;
    background-repeat: no-repeat;
    border-radius: 0 0 0 20px;

  }
  .leftTitle{
    font-size: 1.4em;
    padding-left: 0 !important;
    margin-top: 50px;
    /* display: block; */
    color: white;
    text-align: center !important;


  }
  .hrLeft{
    border: 0;
    width: 17em !important;
    height: 2px;
    background-color: white;
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0)); */
    /* border-style: solid; */
    /* border-width: 5px; */
    margin-right: 10% !important;

  }
  .profilecontent{
    font-size: .85em !important;
    line-height: 2.8em !important;
    width: 20em !important;
    margin-left: 2.4em !important;
    margin-top: 0 !important;
    padding-left: 0 !important;
  }

  /* Left - Skills Section */

  .skillsLayout{
    /* border-style: solid; */
    border-color: white;
    padding: 10px 0px 10px 0;
    margin-bottom: 60px;
  }
  .computerSkill{
    font-size: 1.2em !important;
  }
  .skillLevel{
    /* border-style: solid; */
    color: white;
    text-align: left !important;
    padding-left: 9% !important;
    font-size: 1.1em !important;
    font-weight: 600;
    letter-spacing: .3em;
  }
  .skillsets{
    /* border-style: solid; */
    margin-left: 10% !important;
    font-size: .75em !important;
    font-weight: 400;

  }
  .skillBullets{
    /* border-style: solid; */
    line-height: 2.5em !important;
    text-align: left !important;
    margin-left: 10% !important;
    font-size: .65em !important;
  }

  /* Resume Right Part Content Styles */

  .rightPart{
    position: absolute;
    top: 127em !important;
    left: 0 !important;
    width: 21em !important;
    height: 173em !important;
    border-radius: 0 0 20px 20px !important;

  }
  .rightTitle{
    /* font-size: 30px; */
    font-size: 1.4em;
    letter-spacing: 5px;
    /* border-style: solid; */
    margin-top: 50px;
    /* display: block; */
    color: #424242;
    text-align: center !important;
    padding-left: 0 !important;
  }
  .rightTitleSub{
    display: block;
    /* border-style: solid; */
    color: #424242;
    text-align: center !important;
    letter-spacing: 3px;
    font-size: 1em !important;
  }
  .hrRight{
    /* border: 0; */
    width: 19em !important;
    height: 2px;
    /* background-color: #333333; */
    margin-right: 5% !important;
    background-color: #555555;
    border-style: none;
   }

  /* Project Section Styles */

  .projectName{
    /* border-style: solid; */
    text-align: left;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 1em !important;
    padding-left: 0 !important;
    margin-left: -1em !important;
  }
  .projectBullets{
    list-style-position: inside;
    padding-left: 0!important;
    margin-left: -2em !important;
    text-align: left;
    /* border-style: solid; */
    font-weight: 500;
    font-size: .7em !important;
    line-height: 30px;
  }
  .projectTime1{
    /* border-style: solid; */
    font-size: .2em !important;
    margin-left: 6em !important;
  }
  .projectTime2{
    /* border-style: solid; */
    font-size: .2em !important;
    margin-left: 12em !important;
  }
  .projectTime3{
    /* border-style: solid; */
    font-size: .2em !important;
    margin-left: 24em !important;
  }

  /* Experience Section Styles */
  .jobName{
    /* border-style: solid; */
    font-size: 1em !important;
    width: 110%;
    text-align: left;
    padding-left: 0 !important;
    margin-left: -2em !important;
  }
  .jobBullets{
    list-style-position: inside;
    margin-left: -4.5em !important;
    text-align: left;
    /* border-style: solid; */
    font-weight: 500;
    font-size: .7em !important;
    line-height: 30px;
  }
  .jobTime1{
    /* border-style: solid; */
    font-size: .2em !important;
    margin-left: 12em !important;
  }
  .jobtitle{
    font-size: .5em !important;
    /* border-style: solid; */
    width: 100%;
    text-align: left;
    margin: 0 0 2em -2em !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
  }
  .jobLocation1{
    /* border-style: solid; */
    font-size: .3em !important;
    margin-left: 3.5em !important;
  }
  .jobTime2{
    /* border-style: solid; */
    font-size: .2em !important;
    margin-left: 2em !important;
  }
  .jobLocation2{
    /* border-style: solid; */
    font-size: .3em !important;
    margin-left: 5em !important;
  }

  /* Education Section Styles */

  .schoolName{
    /* border-style: solid; */
    font-size: 1em !important;
    text-align: left;
    padding-left: 10px;
    margin-left: -1em !important;
    font-size: 20px;
    letter-spacing: 2px;
    width: 100%;
  }
  .schooltitle{
    font-size: .6em !important;
    /* font-style: italic; */
    font-weight: bold;
    letter-spacing: 2px;
    /* border-style: solid; */
    text-align: left;
    margin-left: -2em !important;
    padding-left: 0 !important;
    color: #424242;
  }
  .schoolBullets{
    list-style-position: inside;
    padding-left: 1em !important;
    margin-left: -3em !important;
    text-align: left;
    /* border-style: solid; */
    font-weight: 500;
    font-size: .7em !important;
    line-height: 30px;
  }
  .schoolTime1{
    /* border-style: solid; */
    font-size: .2em !important;
    margin-left: 0em !important;
    display: block;
    padding-top:1.2em !important;
    padding-bottom:1.2em !important;
  }
  .schoolLocation1{
    font-size: .3em !important;
    margin-left: 1em !important;
    margin-top: 2em !important;
    display: block;
    /* border-style: solid; */
  }

  .schoolTime2{
    /* border-style: solid; */
    font-size: .2em !important;
    margin-left: 0em !important;
    display: block;
    padding-top:1.2em !important;
    padding-bottom:1.2em !important;

  }
  .schoolLocation2{
    font-size: .3em !important;
    margin-left: 1em !important;
    margin-top: 2em !important;
    display: block;
    /* border-style: solid; */
  }

  .schoolTime3{
    /* border-style: solid; */
    font-size: .2em !important;
    margin-left: 0em !important;
    display: block;
    padding-top:1.2em !important;
    padding-bottom:1.2em !important;
  }
  .schoolLocation3{
    font-size: .3em !important;
    margin-left: 1em !important;
    margin-top: 2em !important;
    display: block;
    /* border-style: solid; */
  }

  .footer{
    top: 330em !important;
  }
  .logoPic.linkedin{
    width: 45px;
    height: 44px;
  }
  .logoPic.github{
    margin-left:0px !important;
    margin-right:0px !important;
    width: 53px;
    height: 52px;
  }
  .logoPic.email{
    background: url('../img/email-logo.png') center;
    width: 54px;
    height: 44px;
  }

  .copyrights{
    text-align: center;
    position: absolute;
    bottom: 10px;
    color: rgba(255,255,255,70%);
    width: 100%;
    font-size: .5em !important;
  }
}

@media screen and (max-width:901px) and (orientation: Landscape){
  /* Resume Contents Styling */
  #resumeSection{
    width: 39em !important;
    height: 230em !important;
    /* border-style: solid; */

    left: 50%;
    top:50%;
    top: 20em !important;
    left: 26.7em !important;
  }

  .headerImage{
    width: 100%;
    height: 15em !important;
    background: url("../img/sky.jpg") 50% 28%;
  }
  .resumeHeader{
    padding: .6em 1.8em .8em 1.8em !important;
    margin: 2em 0 0 0 !important;
    font-size: 2.5em !important;
  }
  .subHeader{
    top:8.5em !important;
    left: 7.8em !important;
    /* border-style: solid;*/
    font-size: 1.2em !important;
  }
  /* Resume Left Part Content Styles */

  /* Left - Profile Section */

  .resumeContent{
    width: 100%;
    height: 215em !important;
  }
  .leftPart{

    top:15em !important;
    width: 100% !important;
    height: 105em !important;
    border-radius: 0 0 0 0 !important;

  }
  .leftTitle{
    /* border-style: solid; */
    padding-left: 0 !important;
    text-align: center !important;
    font-size: 1.6em !important;

  }
  .hrLeft{
    border: 0;
    width: 35em !important;
    height: 2px;
    background-color: white;
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0)); */
    /* border-style: solid; */
    /* border-width: 5px; */
    margin-right: 5% !important;

  }
  .profilecontent{
    color: white;
    /* font-family: 'Calibri',sans-serif; */
    font-size: 1em !important;
    line-height: 35px;
    width: 80% !important;
    text-align: justify;
    letter-spacing: 1px;
    /* border-style: solid; */
    margin-left: 3.5% !important;
    padding: 1em 2em 0 2em !important;
    display: block !important;
  }

  /* Left - Skills Section */

  .skillsLayout{
    /* border-style: solid; */
    border-color: white;
    padding: 10px 0px 10px 0;
    margin-bottom: 60px;
  }
  .computerSkill{
    border-style: solid;
    font-size: 1.4em !important;
    margin-top: 0%;
    padding:2% 0% 2% 0%;
    letter-spacing: .3em;
  }
  .skillLevel{
    /* border-style: solid; */
    color: white;
    text-align: left;
    padding-left: 10% !important;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: .3em;
  }

  .skillsets{
    /* border-style: solid; */
    margin-left: 10% !important;
    margin-top: 0;
    width: 80%;
    list-style-position: inside;
    list-style-type: circle;
    color: #fdfefa;
    text-align: left;
    line-height: 1.7em;
    letter-spacing: .2em;
    font-size: 1em;
    font-weight: 400;
  }
  .skillBullets{
    /* border-style: solid; */
    line-height: 2.5em !important;
    text-align: left !important;
    margin-left: 10% !important;
    font-size: .65em !important;
  }

  /* Left - Contact Section */
  .contactLayout{
    /* border-style: solid; */
    color: white;
    list-style-type: circle;
    list-style-position: inside;
    font-size: 16px;
    line-height: 40px;
    font-family: 'Calibri',serif,sans-serif;
    letter-spacing: 2px;
    text-align: left;
  }

  .phone{
    /* border-style: solid; */
    margin-left: 0px;
    /* text-align: left; */
  }
  .email{
    /* border-style: solid; */
    margin-left: 0px;
    /* text-align: left; */
  }
  .linkedin{
    /* border-style: solid; */
    margin-left: 0px;
    color: white;
    /* text-align: left; */
  }
  .linkedin:hover{
    color: grey;
  }

  /* Resume Right Part Content Styles */

  .rightPart{
    position: absolute;
    top:120em !important;
    left: 0 !important;
    width: 100% !important;
    height: 110em !important;
    background-color: lightgrey;
    /* border-style: solid; */
    border-radius: 0 0 20px 20px !important;

  }
  .rightTitle{
    /* border-style: solid; */
    padding-left: 0 !important;
    text-align: center !important;
    font-size: 1.6em !important;
  }
  .rightTitleSub{
    color: #424242;
    text-align: left;
    letter-spacing: 3px;
    font-size: .9em !important;
  }
  .hrRight{
    width: 35em !important;
    margin-right: 5% !important;
   }

  /* Project Section Styles */

  .projectName{
    /* border-style: solid; */
    text-align: left;
    padding-left: 20px;
    margin-left: -1% !important;
    margin-bottom: 10px;
    font-size: 1em !important;
    letter-spacing: 2px;
    color: #424242;
  }
  .projectBullets{
    list-style-position: inside;
    padding-left: 2em !important;
    margin-left: -4.5% !important;
    text-align: left;
    /* border-style: solid; */
    font-weight: 500;
    font-size: .7em !important;
    line-height: 30px;
  }
  .projectTime1{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 23em !important;
  }
  .projectTime2{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 6em !important;
  }
  .projectTime3{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 14em !important;
  }

  /* Experience Section Styles */
  .jobName{
    /* border-style: solid; */
    text-align: left;
    padding-left: 20px;
    margin-left: -1% !important;
    margin-bottom: 10px;
    font-size: 1em !important;
    letter-spacing: 2px;
    color: #424242;
  }
  .jobBullets{
    list-style-position: inside;
    padding-left: 2em !important;
    margin-left: -4.5% !important;
    text-align: left;
    /* border-style: solid; */
    font-weight: 500;
    font-size: .7em !important;
    line-height: 30px;
  }
  .jobTime1{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 37em !important;
  }
  .jobtitle{
    font-size: .9em !important;
    margin: 0 0 15px 0;
    padding-left: 1em !important;
  }
  .jobLocation1{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 26.5em !important;
  }

  .jobTime2{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 27em !important;
  }
  .jobLocation2{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 26em !important;
  }

  /* Education Section Styles */

  .schoolName{
    /* border-style: solid; */
    font-size: 1em !important;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: #424242;
  }
  .schooltitle{
    font-size: .8em !important;
    /* font-style: italic; */
    font-weight: bold;
    letter-spacing: 2px;
    /* border-style: solid; */
    text-align: left;

    margin: 0 0 15px 0;
    padding-left: 10px;
    color: #424242;
  }
  .schoolBullets{
    list-style-position: inside;
    padding-left: 20px;
    text-align: left;
    /* border-style: solid; */
    font-weight: 500;
    font-size: 13px;
    line-height: 30px;
    padding-left: 2em !important;
    margin-left: -6% !important;
    font-size: .7em !important;
  }
  .schoolTime1{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 10em !important;
  }
  .schoolLocation1{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 12.5em !important;
  }

  .schoolTime2{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 7em !important;
  }
  .schoolLocation2{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 10.5em !important;
  }

  .schoolTime3{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 12em !important;
  }
  .schoolLocation3{
    /* border-style: solid; */
    font-size: .5em !important;
    margin-left: 6em !important;
  }

  /* Footer Styles */
  .footer{
    top: 250em !important;
  }
}



/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/************************* Media Query Section ********************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    background-color: #121813;

    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.sidenav a {
    text-align: center;
    padding: 8px 8px 50px 25px;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s;

    font-family: 'Calibri','Thorndale AMT', sans-serif;
    font-weight: 650;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 40px;
}

.sidenav div.hiddenMenu{
  margin-top: 70px;
  margin-right: 50px;
}

div.hiddenMenu a{
  margin-top: 50px;
}

hr.hiddenMenu{
  width: 340px;
  border: 0;
  height: 1px;
  margin-bottom: 45px;
  margin-top: 0px;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #f1f1f1, rgba(0, 0, 0, 0));

}
#main {
  transition: 0.5s;
  position: absolute;
  top:50%;
  left:50%;
  margin-top: -330px;
  margin-left: -740px;

}


/*  Navigation Bar Styling*/

#navbar{
  background-color: grey;
  opacity: 0.8;
  padding: 5px;
  width: 100%;
  height: 60px;

  position: fixed;
  top: 0px;
  left: 0px;
  transition: top 0.3s;
  z-index: 1;

}

span.name{
  display: inline;
  font-family: 'Calibri','Thorndale AMT', sans-serif;
  font-size: 26px;
  color: #fdf9fa;
  float: left;

  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 10px;

  cursor: pointer;
}

span.name:hover{
  color: lightgrey;
}

.name{
  display: inline-block;
  font-size: 25px;
  color: #fdf9fa;
  letter-spacing: 2px;
  font-family: 'Calibri','Thorndale AMT', sans-serif;
  font-weight: 650;

  margin-top: 14px;
  margin-left: 15px;
  margin-bottom: 10px;
}

/* Resume Contents Styling */
#resumeSection{
  width: 1150px;
  height: 2170px;
  /* border-style: solid; */
  border-color: darkgrey;
  border-width: 4px;
  position: absolute;

  left: 50%;
  top:50%;
  top: 150px;
  left: 160px;
  border-radius: 20px;
  text-align: center;
  font-weight: 700;
  color: #1B3544;
  background-color: #e3e9eb;
  box-shadow: 0px 0px 15px #9b8c91;
}

.headerImage{
  width: 100%;
  height: 300px;
  background: url("../img/sky.jpg") 50% 28%;
  /* background-color: #fabc0f; */
  background-repeat: no-repeat;
  background-size: cover;
  /* border-style: solid; */
  border-radius: 20px 20px 0 0;
}
.resumeHeader{
  border-style: solid;
  border-radius: 10px;
  border-width: 5px;
  border-color: #ffffff;
  display: inline-block;
  padding: 15px 100px 35px 100px;
  margin: 100px 0 0 15px;
  /* float: left; */
  color: #ffffff;
  font-size: 50px;
  /* box-shadow: 0px 0px 15px black; */
}
.subHeader{
  position: absolute;
  top:195px;
  left: 405px;
  /* border-style: solid; */
  background-color: #eaeaea;
  font-size: 22px;
  padding: 15px 30px 20px 30px;
  border-radius: 8px;
  /* font-style: italic; */
  color: #3a3a3a;
  font-family: 'Gill Sans','Gill Sans Light',sans-serif;

}
/* Resume Left Part Content Styles */

/* Left - Profile Section */

.resumeContent{
  width: 100%;
  height: 1870px;
  background-color: white;
  border-radius: 20px;
  font-family: 'Gill Sans','Gill Sans Light',sans-serif;

}
.leftPart{
  position: absolute;
  top:300px;
  width: 450px;
  height: 1870px;
  background-color: #4b4b4b;
  background-repeat: no-repeat;
  border-radius: 0 0 0 20px;

}
.leftTitle{
  /* font-size: 30px; */
  letter-spacing: 5px;
  /* border-style: solid; */
  padding-left: 50px;
  margin-top: 50px;
  /* display: block; */
  color: white;
  text-align: left;


}
.hrLeft{
  border: 0;
  width: 100px;
  height: 2px;
  background-color: white;
  /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0)); */
  /* border-style: solid; */
  /* border-width: 5px; */
  margin-right: 300px;

}
.profilecontent{
  color: white;
  /* font-family: 'Calibri',sans-serif; */
  font-size: .9em;
  line-height: 35px;
  width: 360px;
  text-align: justify;
  letter-spacing: 1px;
  /* border-style: solid; */
  margin-left: 11%;
  padding-top: .8em;
  margin-bottom: 60px;
}

/* Left - Skills Section */

.skillsLayout{
  /* border-style: solid; */
  border-color: white;
  padding: 10px 0px 10px 0;
  margin-bottom: 60px;
}
.computerSkill{
  border-style: solid;
  border-radius: 10px;
  display: inline-block;
  width: 70%;
  color: white;
  text-align: center;
  font-size: 1.2em;
  margin-top: 0%;
  padding:3% 3% 3% 3%;
  letter-spacing: .3em;
}
.skillLevel{
  /* border-style: solid; */
  color: white;
  text-align: left;
  padding-left: 12%;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: .3em;
}
.skillsets{
  /* border-style: solid; */
  margin-left: 12%;
  margin-top: 0;
  width: 80%;
  list-style-position: inside;
  list-style-type: circle;
  color: #fdfefa;
  text-align: left;
  line-height: 1.7em;
  letter-spacing: .2em;
  font-size: 1em;
  font-weight: 400;

}
.skillBullets{
  /* border-style: solid; */
  width: 75%;
  margin-top: 3%;
  margin-left: 16.5%;
  display: block;
  text-align: justify;
  line-height: 2em;
  letter-spacing: .2em;
  font-size: .8em;
  font-weight: 400;
  color: white;

}

/* Left - Contact Section */
.contactLayout{
  /* border-style: solid; */
  margin-left: 1.5%;
  color: white;
  list-style-type: circle;
  list-style-position: inside;
  font-size: 16px;
  line-height: 40px;
  font-family: 'Calibri',serif,sans-serif;
  letter-spacing: 2px;
  text-align: left;
}

.phone{
  /* border-style: solid; */
  margin-left: 0px;
  /* text-align: left; */
}
.email{
  /* border-style: solid; */
  margin-left: 0px;
  /* text-align: left; */
}
.linkedin{
  /* border-style: solid; */
  margin-left: 0px;
  color: white;
  /* text-align: left; */
}
.linkedin:hover{
  color: grey;
}

/* Resume Right Part Content Styles */

.rightPart{
  position: absolute;
  top:300px;
  left: 450px;
  width: 700px;
  height: 1870px;
  background-color: lightgrey;
  /* border-style: solid; */
  border-radius: 0 0 20px 0;

}
.rightTitle{
  /* font-size: 30px; */
  letter-spacing: 5px;
  /* border-style: solid; */
  padding-left: 50px;
  margin-top: 50px;
  /* display: block; */
  color: #424242;
  text-align: left;
}
.rightTitleSub{
  color: #424242;
  text-align: left;
  letter-spacing: 3px;
  font-size: 25px;
}
.hrRight{
  /* border: 0; */
  width: 600px;
  height: 2px;
  /* background-color: #333333; */
  margin-right: 55px;
  background-color: #555555;
  border-style: none;
 }

/* Project Section Styles */

.projectName{
  /* border-style: solid; */
  text-align: left;
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #424242;
}
.projectBullets{
  list-style-position: inside;
  padding-left: 20px;
  text-align: left;
  /* border-style: solid; */
  font-weight: 500;
  font-size: 13px;
  line-height: 30px;
}
.projectTime1{
  /* border-style: solid; */
  font-size: 12px;
  margin-left: 235px;
}
.projectTime2{
  /* border-style: solid; */
  font-size: 12px;
  margin-left: 38px;
}
.projectTime3{
  /* border-style: solid; */
  font-size: 12px;
  margin-left: 129px;
}

/* Experience Section Styles */
.jobName{
  /* border-style: solid; */
  text-align: left;
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #424242;
}
.jobBullets{
  list-style-position: inside;
  padding-left: 20px;
  text-align: left;
  /* border-style: solid; */
  font-weight: 500;
  font-size: 13px;
  line-height: 30px;
}
.jobTime1{
  /* border-style: solid; */
  font-size: 12px;
  margin-left: 390px;
}
.jobtitle{
  font-size: 15px;
  /* font-style: italic; */
  font-weight: bold;
  letter-spacing: 2px;
  /* border-style: solid; */
  text-align: left;

  margin: 0 0 15px 0;
  padding-left: 20px;
  color: #424242;


}
.jobLocation1{
  /* border-style: solid; */
  font-size: 12px;
  margin-left: 298px;
  color: #424242;
}

.jobTime2{
  /* border-style: solid; */
  font-size: 12px;
  margin-left: 270px;
}
.jobLocation2{
  /* border-style: solid; */
  font-size: 12px;
  margin-left: 302px;
  color: #424242;
}

/* Education Section Styles */

.schoolName{
  /* border-style: solid; */
  text-align: left;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #424242;
}
.schooltitle{
  font-size: 15px;
  /* font-style: italic; */
  font-weight: bold;
  letter-spacing: 2px;
  /* border-style: solid; */
  text-align: left;

  margin: 0 0 15px 0;
  padding-left: 10px;
  color: #424242;
}
.schoolBullets{
  list-style-position: inside;
  padding-left: 20px;
  text-align: left;
  /* border-style: solid; */
  font-weight: 500;
  font-size: 13px;
  line-height: 30px;
}
.schoolTime1{
    font-size: 12px;
    margin-left: 60px;
}
.schoolLocation1{
  font-size: 12px;
  margin-left: 110px;
  color: #424242;
}

.schoolTime2{
    font-size: 12px;
    margin-left: 24px;
}
.schoolLocation2{
  font-size: 12px;
  margin-left: 90px;
  color: #424242;
}

.schoolTime3{
    font-size: 12px;
    margin-left: 84px;
}
.schoolLocation3{
  font-size: 12px;
  margin-left: 44px;
  color: #424242;
}




/* Footer Styles */

.footer{
  display: inline;
  position: absolute;
  background: grey;
  opacity: 0.8;
  top: 2600px;
  left: 0px;
  bottom: 0;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 200px;
}

.logo{
  width: 100%;
  text-align: center;
  height: 80px;
  position: absolute;
  top: 10px;
  opacity: 0.8;
  margin-top: 0px;
  margin-bottom: 40px;

}
.footnote{
  text-align: center;
  font-size: 30px;
  letter-spacing: 1px;
  color: white;
  padding-bottom: 17px;
}
.logoPic.linkedin{
  background: url('../img/linkedin-logo.jpg') center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius:10px;
  width: 45px;
  height: 44px;
  margin-right: 80px;
}
.logoPic.github{
  background: url('../img/github-logo.jpg') center top;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left:47px;
  margin-right:47px;
  width: 53px;
  height: 52px;
  border-radius: 50%;
}
.logoPic.email{
  background: url('../img/email-logo.png') center;
  border-radius:13px;
  margin-left:80px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 54px;
  height: 44px;
  border-radius: 10px;
}

a{
  text-decoration: none;
  display: inline-block;
}

.logoPic:hover{
  transform: scale(1.2);
}

.copyrights{
  text-align: center;
  position: absolute;
  bottom: 10px;
  color: rgba(255,255,255,70%);
  width: 100%;
}
